{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{{ path('joyas_joyas_web') }}">Inicio</a></li>
					<li class="active">Checkout</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-ckeckout-->
	<div class="ckeckout">
		<div class="container">
			<div class="ckeck-top heading">
				<h2>CHECKOUT</h2>
			</div>
			<div class="ckeckout-top">
				<div class="cart-items">
				<h3>Mi carrito de compras</h3>
				<script>
					function quitar(clase, id){
						$('.'+clase).fadeOut('slow', function(c){
							$('.'+clase).remove();
							simpleCart.each(function (cartitem) {
								var nombre = cartitem.get("name");
								if (cartitem.get("name") == clase) {
									cartitem.remove();
								}
							});
							calcular();
							$.post( '{{path('producto_quitarajax')}}', { data: id })
								.done(function( data ) {
									alert(data);
								});			
						});
					}
				</script>
					<div class="in-check" >
						<ul class="unit" style="text-align:center;">
							<li style="width: 15%;"><span>Item</span></li>
							<li><span>Nombre (C&oacute;digo)</span></li>		
							<li><span>Cantidad</span></li>
							<li><span>Precio Unit.</span></li>
							<li><span>Descuento</span></li>
							<li> </li>
							<div class="clearfix"> </div>
						</ul>
					<form action="{{ path('joyas_joyas_realizarpedido') }}" onsubmit="return confirmarpedido();">
					{% for precio in precios %}
						<ul class="cart-header {{precio.producto.codigo}}" style="text-align:center;">
							<div class="close1" onclick="quitar('{{precio.producto.codigo}}', {{precio.producto.id}})"> </div>
								<li class="ring-in" style="width: 15%;">
								<a href="{{ path('producto_web', {id:precio.producto.id}) }}" >
								{% if precio.producto.imagenesproducto|length > 0 %}
									{% for imagen in precio.producto.imagenesproducto %}
										{% if loop.first %}
											<img class="img-responsive" width="80%" src="{{asset(imagen.webPath)}}" alt=""/>
										{% endif %}
									{% endfor %}
								{% else %}
									<img class="img-responsive" width="80%" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt="">
								{% endif %}
								</a>
								</li>
								<li>
									<span class="name">
									{{precio.producto.descripcion}}<br>({{precio.producto.codigo}})
									</span>
								</li>
								<li><input type="number" value="1" min="1" style="width: 35%; text-align: center; margin-top: 30px;" id="cantidad{{precio.producto.id}}" onblur="calcular();" name="cantidad{{precio.producto.id}}" /></li>
								<li>
									<span class="cost">
										$ {{precio.valor}} 
										<input id="valor{{precio.producto.id}}" name="valor{{precio.producto.id}}" type="hidden" value="{{precio.valor}}" />
									</span>
								</li>
								<li>
								<span class="descuento"> 
								{% if precio.producto.descuento != '' %}
									<span>
										(-{{precio.producto.descuento}}%)
										$ {{ precio.valor * (100 - precio.producto.descuento) / 100 }}
									</span>										
									<input id="valordescuento{{precio.producto.id}}" name="valordescuento{{precio.producto.id}}" type="hidden" value="{{precio.valor * (100 - precio.producto.descuento) / 100}}" />
								{% else %}
									--
									<input id="valordescuento{{precio.producto.id}}" name="valordescuento{{precio.producto.id}}" type="hidden" value="" />
								{% endif %}
								</span></li>
							<div class="clearfix"> </div>
						</ul>
					{% endfor %}
					<ul class="cart-header" style="text-align:center;">
						<li><span></span></li>
						<li><span></span></li>		
						<li>
							<span>
								TOTAL: $<input readonly style="width: 100px;text-align: center;" id="resultadofin" name="resultadofin" type="text" value="0" />
							</span>
						</li>
						<li><span></span></li>
						<li><span></span></li>
						<li> </li>
						<div class="clearfix"> </div>
					</ul>
					<div class="col-md-12" style="text-align: center;">
						<textarea placeholder="Agregar comentario al pedido.." name="comentario" style="width:100%; height: 150px;"></textarea>
						<button class="btn btn-success" type="submit">Realizar Pedido</button>	
					</div>
					</div>
				</form>
				</div>  
			</div>  
		</div>
	</div>
	<!--end-ckeckout-->
<script>
function calcular(){
	var carrito = "{{app.session.get('carrito')}}";
	var ids = carrito.split(",");
	var resultado = 0;
	for(var i = 0; i<ids.length; i++){
		var cant = '#cantidad'+ids[i];
		var valor = '#valor'+ids[i];
		var valordescuento = '#valordescuento'+ids[i];
		if ( $(valor).val() === undefined) {
		} else {
			var valor = $(valor).val(); 
			if($(valordescuento).val()!=''){
				var valor = $(valordescuento).val(); 
			}
			resultado = resultado + (valor * $(cant).val());
		}
	}
	$('#resultadofin').val(resultado.toFixed(2));
}

$(document).ready(function(){
	var carrito = "{{app.session.get('carrito')}}";
	if(carrito==""){
		$('.simpleCart_empty').click();
	}
	calcular();
});
function confirmarpedido(){
	var carrito = "{{app.session.get('carrito')}}";
	if(carrito!="" && $('#resultadofin').val() > 0){
		if(confirm('Confirmar pedido?\n(Si confirma, se emitira el pedido)')){
			$('#vaciarcarrito').addClass('simpleCart_empty');
			$('.simpleCart_empty').click();
			$('#vaciarcarrito').removeClass('simpleCart_empty');
			return true;
		}else{
			return false;
		}
	}else{
		alert('Debe haber productos en el carrito y el saldo de la compra ser mayor a 0');
		return false;
	}
}

</script>

{% endblock %}
