{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{{ path('joyas_joyas_web') }}">Inicio</a></li>
					<li class="active">Contactanos</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--contact-start-->
	<div class="contact">
		<div class="container">
			<div class="contact-top heading">
				<h2>CONT&Aacute;CTENOS</h2>
			</div>
				<div class="contact-text">
				<div class="col-md-3 contact-left">
						<div class="address">
							<h5>Contacto</h5>
							<p>De Dios Joyas.</p>
						</div>
						<div class="address">
							<h5>Nuestros datos</h5>
							<p>Tel:+54 9 11 30058144, 
							Email: <a href="mailto:joyas@dediosjoyas.com" target="_blanck">joyas@dediosjoyas.com</a></p>
						</div>
					</div>
					<div class="col-md-9 contact-right">
						<form action="{{ path('joyas_joyas_mail') }}" method="POST">
							<input type="text" name="nombre" placeholder="Nombre" required>
							<input type="text" name="telefono" placeholder="Tel&eacute;fono" required>
							<input type="email" class="email" name="email" placeholder="Email" required>
							<textarea name="mensaje" placeholder="Mensaje" required></textarea>
							<div class="submit-btn">
								<input type="submit" value="ENVIAR">
							</div>
						</form>
					</div>	
					<div class="clearfix"></div>
				</div>
		</div>
	</div>
	<!--contact-end-->
	
	<!--map-start
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6632.248000703498!2d151.265683!3d-33.7832959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12abc7edcbeb07%3A0x5017d681632bfc0!2sManly+Vale+NSW+2093%2C+Australia!5e0!3m2!1sen!2sin!4v1433329298259" style="border:0"></iframe>
	</div>
	map-end-->
<script>
	$(document).ready(function(){
		$(".memenu .active").removeClass('active');
		$("#contacto").addClass('active');
	});
</script>

{% endblock %}