{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
	<!--banner-starts-->
	<div class="bnr" id="home">
		<div  id="top" class="callbacks_container">
			<ul class="rslides" id="slider4">
			    <li>
					<a href="#product"><img src="{{ asset('bundles/web/images/bnr1.jpg') }}" alt=""/></a>
				</li>
				<li>
					<a href="#product"><img src="{{ asset('bundles/web/images/bnr2.jpg') }}" alt=""/></a>
				</li>
				<li>
					<a href="#product"><img src="{{ asset('bundles/web/images/bnr3.jpg') }}" alt=""/></a>
				</li>
			</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!--banner-ends--> 
	<!--Slider-Starts-Here-->
				<script src="{{ asset('bundles/web/js/responsiveslides.min.js') }}"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });			
			    });
			  </script>
	<div class="about"> 
		{% if novedades|length > 0 %}
		<div class="container">
			<div class="about-top grid-1">
				{% set precio = random(novedades) %}
				<div class="col-md-4 about-left">
					<a href="{{ path('producto_web', {id:precio.producto.id}) }}" class="">
						<figure class="effect-bubba">
							{% if precio.producto.imagenesproducto|length > 0 %}
								{% for imagen in precio.producto.imagenesproducto %}
									{% if loop.first %}
										<img class="img-responsive" src="{{asset(imagen.webPath)}}" alt=""/>
									{% endif %}
								{% endfor %}
							{% else %}
								<img class="img-responsive" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt=""/>
							{% endif %}
							<figcaption>
								<h2>{{ precio.producto.descripcion }}</h2>
								<p>{{ precio.producto.categoriasubcategoria.categoria|default('Otros') }}</p>	
							</figcaption>			
						</figure>
					</a>
				</div>
				{% set precio = random(novedades) %}
				<div class="col-md-4 about-left">
					<a href="{{ path('producto_web', {id:precio.producto.id}) }}" class="">
						<figure class="effect-bubba">
							{% if precio.producto.imagenesproducto|length > 0 %}
								{% for imagen in precio.producto.imagenesproducto %}
									{% if loop.first %}
										<img class="img-responsive" src="{{asset(imagen.webPath)}}" alt=""/>
									{% endif %}
								{% endfor %}
							{% else %}
								<img class="img-responsive" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt=""/>
							{% endif %}
							<figcaption>
								<h2>{{ precio.producto.descripcion }}</h2>
								<p>{{ precio.producto.categoriasubcategoria.categoria|default('Otros') }}</p>	
							</figcaption>			
						</figure>
					</a>
				</div>
				{% set precio = random(novedades) %}
				<div class="col-md-4 about-left">
					<a href="{{ path('producto_web', {id:precio.producto.id}) }}" class="">
						<figure class="effect-bubba">
							{% if precio.producto.imagenesproducto|length > 0 %}
								{% for imagen in precio.producto.imagenesproducto %}
									{% if loop.first %}
										<img class="img-responsive" src="{{asset(imagen.webPath)}}" alt=""/>
									{% endif %}
								{% endfor %}
							{% else %}
								<img class="img-responsive" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt=""/>
							{% endif %}
							<figcaption>
								<h2>{{ precio.producto.descripcion }}</h2>
								<p>{{ precio.producto.categoriasubcategoria.categoria|default('Otros') }}</p>	
							</figcaption>			
						</figure>
					</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		{% endif %}
	</div>
	<!--about-end-->
	<!--product-starts-->
	<div class="product" id="product" > 
		<div class="container">
			<div class="col-md-12" style="text-align:center;">
				<h3>
					Productos
				</h3>				
			</div>
			<div class="product-top">
				<div class="product-one">
					{% for entity in novedadesDos %}
					<div class="col-md-3 product-left" style="margin-bottom: 2%;">
						<div class="product-main simpleCart_shelfItem">
							<a href="{{ path('producto_web', {id:entity.producto.id}) }}" title="{{entity.producto.descripcion}}" class="mask">
							{% if entity.producto.imagenesproducto|length > 0 %}
								{% for imagen in entity.producto.imagenesproducto %}
									{% if loop.first %}
										<img width="85%" class="img-responsive zoom-img" src="{{asset(imagen.webPath)}}" alt="" />
									{% endif %}
								{% endfor %}
							{% else %}
								<img width="85%" class="img-responsive zoom-img" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt="" /></a>
							{% endif %}
							</a>
							<div class="product-bottom">
								{% if entity.producto.descripcion|length > 23 %}
								<h3>
									{{ entity.producto.descripcion[0:20] }}...
								</h3>
								{% else %}
								<h3>
									{{ entity.producto.descripcion }}
								</h3>
								{% endif %}
								<h4>C&oacute;d. <span class="item_name">{{ entity.producto.codigo }}</span> </h4>
								<p>{{ entity.producto.categoriasubcategoria.categoria|default('Otros') }}</p>
								<h4>
									{% if nombre != '' %}
										<a class="item_add" onclick="add({{entity.producto.id}});" href="#"><i></i></a> <span class="item_price">
										{% if entity.producto.descuento != '' %}
											<span style="color:green;">$ {{ entity.valor * (100 - entity.producto.descuento) / 100 }}</span>										
										{% else %}
											$ {{ entity.valor }}
										{% endif %}
										</span>
									{% else %}$ --{% endif %}
									</span>
								</h4>
							</div>
							{% if entity.producto.descuento != '' %}
							<div class="srch srch1">
								<span><span style="padding: 0px 0px;color: red;padding-right: 10px;;color:red;">$ {{ entity.valor }}</span> -{{entity.producto.descuento}}%</span>
							</div>
							{% endif %}
						</div>
					</div>
					{% endfor %}
					{% for entity in precios %}
					{% if entity.producto.visible %}
					<div class="col-md-3 product-left" style="margin-bottom: 2%;">
						<div class="product-main simpleCart_shelfItem">
							<a href="{{ path('producto_web', {id:entity.producto.id}) }}" title="{{entity.producto.descripcion}}" class="mask">
							{% if entity.producto.imagenesproducto|length > 0 %}
								{% for imagen in entity.producto.imagenesproducto %}
									{% if loop.first %}
										<img width="85%" class="img-responsive zoom-img" src="{{asset(imagen.webPath)}}" alt="" />
									{% endif %}
								{% endfor %}
							{% else %}
								<img width="85%" class="img-responsive zoom-img" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt="" /></a>
							{% endif %}
							</a>
							<div class="product-bottom">
								{% if entity.producto.descripcion|length > 23 %}
								<h3>
									{{ entity.producto.descripcion[0:20] }}...
								</h3>
								{% else %}
								<h3>
									{{ entity.producto.descripcion }}
								</h3>
								{% endif %}
								<h4>C&oacute;d. <span class="item_name">{{ entity.producto.codigo }}</span> </h4>
								<p>{{ entity.producto.categoriasubcategoria.categoria|default('Otros') }}</p>
								<h4>
									{% if nombre != '' %}
										<a class="item_add" onclick="add({{entity.producto.id}});" href="#"><i></i></a> <span class="item_price">
										{% if entity.producto.descuento != '' %}
											<span style="color:green;">$ {{ entity.valor * (100 - entity.producto.descuento) / 100 }}</span>										
										{% else %}
											$ {{ entity.valor }}
										{% endif %}
										</span>
									{% else %}$ --{% endif %}
									</span>
								</h4>
							</div>
							{% if entity.producto.descuento != '' %}
							<div class="srch srch1">
								<span><span style="padding: 0px 0px;color: red;padding-right: 10px;;color:red;">$ {{ entity.valor }}</span> -{{entity.producto.descuento}}%</span>
							</div>
							{% endif %}
						</div>
					</div>
					{% endif %}
					{% endfor %}
					<div class="clearfix"></div>
				</div>					
			</div>
			<div class="col-sm-12">
				{{ pagerfanta (precios, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }} 
			</div>
		</div>
	</div>
	<!--product-end-->
<script>
$( document ).ready(function() {

/*	var alto = '430';
	$('.product-left').each(function() {
		if(alto < $( this ).height()){
			alto = $( this ).height();
		}
	});
	var altopx = alto+'px';
	$('.product-left').css('height',altopx);
	$('.product-main').css('height',altopx);
*/	
	$('.pagination a').attr('class', 'btn btn-default');
	$('.pagination li').css('float', 'left');
	$('.pagination').css('width', '100%');
	var size = $('.pagination li').size() - 2;
	var pagina = '{{ app.request.get('page') }}';
	if(pagina != '' && pagina == '1' && size>3){
		$('.pagination li').each(function(indice, elemento) {
			if(indice == size){
				$( this ).css('display', 'none');
			}
		});
	}
	
});
</script>
{% endblock %}