{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{{ path('joyas_joyas_web') }}">Inicio</a></li>
					<li class="active">Mi Cuenta</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--product-starts-->
	<div class="product" id="product" > 
		<div class="container">
			<div class="col-md-12" style="text-align: center;">
				<h2>Mis Pedidos</h2>
			</div>
			<div class="product-top col-md-12">
				<div class="product-one">
					{% set count = 0 %}
					<table id="tablas" class="display">
						<thead>
							<tr>
								<th>Fecha</th>
								<th>Descripci&oacute;n</th>
								<th>Estado del Pago</th>
								<th>Total</th>
							</tr>
						</thead>
						<tbody>
						{% for entity in usuarioweb.pedidos %}
							<tr>
								<td>{{ entity.fecha|date('Y-m-d') }}</td>
								<td><a href="{{path('joyas_joyas_pedido', {id:entity.id})}}">PEDIDO{{ entity.id }}</a></td>
								<td>{% if entity.formapago %}
										{% if entity.formapago == 'P' %}
											<span style="color: blue;">Pendiente de Aprobaci&oacute;n</span>
										{% endif %}
										{% if entity.formapago == 'S' %}
											<span style="color: green;">Pagado</span>
										{% endif %}
										{% if entity.formapago == 'F' %}
											<span style="color: red;">Fallo el Pago</span>
										{% endif %}
										{% if entity.formapago == 'O' %}
											Acuerda con Vendedor
										{% endif %}
									{%else%}Sin acordar - (<a href="{{ path('joyas_joyas_formapago', {id: entity.id}) }}">acordar</a>){%endif%}</td>
								<td>$ {{ entity.total }}</td>
							</tr>
							{% set count = count + 1 %}					
						{% endfor %}
						</tbody>
					</table>
					{% if count == 0 %}
						<div class="col-md-12 relacionados">
							Usted no ha realizado pedidos a&uacute;n.
						</div>
					{% endif %}
					<div class="clearfix"></div>
				</div>					
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--product-end-->
<!-- DATA TABLE -->
<script type="text/javascript" src="{{ asset('bundles/DataTable/jquery.dataTables.min.js') }}"></script>

<script>
$(document).ready(function() {
	$(".memenu .active").removeClass('active');
	table = $('#tablas').DataTable({
				"scrollY":        "400px",
				"scrollCollapse": true,
				"paging":         false,
				"info": 		  false,
				responsive: 	  true,
				"filter": 		  true,
				"order": 		  [[ 0, "desc" ]],
				"oLanguage": {
					"sSearch": "Buscar:"
				}			
			} );
	$('td').css('text-align','center');
	$('th').css('text-align','center');
});

</script>
{% endblock %}