{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="index.html">Inicio</a></li>
					<li class="active">Novedades</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--product-starts-->
	<div class="product" id="product" > 
		<div class="container">
			<div class="col-md-12" style="text-align: center;">
				<h2>Novedades</h2>
			</div>
			<div class="product-top col-md-9">
				<div class="product-one">
					{% set count = 0 %}
					{% for entity in novedades %}
						<div class="col-md-4 product-left">
							<div class="product-main simpleCart_shelfItem" style="margin-top:5%;">
								<a href="{{ path('producto_web', {id:entity.producto.id}) }}" class="mask">
								{% if entity.producto.imagenesproducto|length > 0 %}
									{% for imagen in entity.producto.imagenesproducto %}
										{% if loop.first %}
											<img width="85%" class="img-responsive zoom-img" src="{{asset(imagen.webPath)}}" alt="" />
										{% endif %}
									{% endfor %}
								{% else %}
									<img width="85%" class="img-responsive zoom-img" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt="" /></a>
								{% endif %}
								</a>
								<div class="product-bottom">
									{% if entity.producto.descripcion|length > 23 %}
									<h3>
										{{ entity.producto.descripcion[0:20] }}...
									</h3>
									{% else %}
									<h3>
										{{ entity.producto.descripcion }}
									</h3>
									{% endif %}
									<h4>C&oacute;d. <span class="item_name">{{ entity.producto.codigo }}</span></h4>
									<p>{{ entity.producto.categoriasubcategoria.categoria|default('Otros') }}</p>
									<h4>
									{% if nombre != '' %}
										<a class="item_add" onclick="add({{entity.producto.id}});" href="#"><i></i></a> <span class=" item_price">
										{% if entity.producto.descuento != '' %}
											<span style="color:green;">$ {{ entity.valor * (100 - entity.producto.descuento) / 100 }}</span>										
										{% else %}
											$ {{ entity.valor }}
										{% endif %}
										</span>
									{% else %}$ --{% endif %}
										</span>
									</h4>
								</div>
								{% if entity.producto.descuento != '' %}
								<div class="srch srch1">
									<span><span style="padding: 0px 0px;color: red;padding-right: 10px;;color:red;">$ {{ entity.valor }}</span> -{{entity.producto.descuento}}%</span>
								</div>
								{% endif %}
							</div>
						</div>
						{% set count = count + 1 %}
					{% endfor %}
					{% if count == 0 %}
						<div class="col-md-12 relacionados">
							Disculpe, no tenemos novedades.. <a href="{{path('joyas_joyas_web')}}">Ir al inicio</a>
						</div>
					{% endif %}
					<div class="clearfix"></div>
				</div>					
			</div>
			<div class="col-md-3 prdt-right" style="height:200px;">
				<div class="w_sidebar" style="height: 90%;">
					<section  class="sky-form">
						<h4>Rango de precios:</h4>
						<div class="row1 scroll-pane">
							<form action="{{ path('producto_filtroprecios') }}" method="post">
								<p>
								<input type="hidden" value="novedades" id="pantalla" name="pantalla" />
								<input type="hidden" id="filtro" name="filtro" value="0-100" />
								<input type="text" readonly id="amount" name="range" style="width: 100%; border: 0; color: #f6931f; font-weight: bold;" />
								</p>
								<div id="slider-range" style="width:215px; margin-bottom: 10px;"></div>
								<p>
								<input type="submit" class="btn btn-success" name="send" value="BUSCAR" />
								</p>
							</form>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
	<!--product-end-->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
$(document).ready(function() {
	$(".memenu .active").removeClass('active');
	$("#novedades").addClass('active');
	
	$('#primero').click();
  	if ( $('.iso-box-wrapper').length > 0 ) { 

	    var $container 	= $('.iso-box-wrapper'), 
	    	$imgs 		= $('.iso-box img');

	    $container.imagesLoaded(function () {

	    	$container.isotope({
				layoutMode: 'fitRows',
				itemSelector: '.iso-box'
	    	});

	    	$imgs.load(function(){
	    		$container.isotope('reLayout');
	    	})

	    });

	    //filter items on button click
	    $('.filter-wrapper label input').click(function(){
	        $("input:checkbox").each(function (){ 
				if ( $(this).hasClass('selected') ) { 
					return false;
				}
			}); 
			var $this = $(this), filterValue = $this.attr('data-filter');
			$container.isotope({ 
				filter: filterValue,
				animationOptions: { 
				    duration: 750, 
				    easing: 'linear', 
				    queue: false, 
				}              	 
			});	            

			// don't proceed if already selected 
			if ( $this.hasClass('selected') ) { 
				return false; 
			}

			var filter_wrapper = $this.closest('.filter-wrapper');
			filter_wrapper.find('.selected').removeClass('selected');
			$this.addClass('selected');
	    }); 
	}

	new WOW().init();
});

$(function() {
    $("#slider-range").slider({
        range: true,
        min: 0,
        max: 2000,
        values: [0, 100],
        slide: function(event, ui) {
            $("#amount").val(ui.values[ 0 ] + "ARG-" + ui.values[ 1 ] + "ARG");
			$("#filtro").val(ui.values[ 0 ]+"-"+ui.values[ 1 ]);
        }
    });
    $( "#amount" ).val($("#slider-range").slider("values", 0) + "ARG-" + $("#slider-range").slider( "values", 1) + "ARG");    
});

</script>

{% endblock %}