{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Pedidos Web
			</h1>
		</div>
	</div>
	<div class="tablasScroll wrapper">
		<div class="gimme-table" data-cls="demo1">
			<table id="tablapedidos" class="display">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Descripci&oacute;n</th>
						<th>Cliente</th>
						<th>Estado del Pago</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
				{% for entity in pedidos %}
					<tr>
						<td>{{ entity.fecha|date('Y-m-d') }}</td>
						<td><a href="{{path('joyas_joyas_pedidogestion', {id:entity.id})}}">PEDIDO{{ entity.id }}</a></td>
						<td>{{ entity.usuarioweb.mail }}</a></td>
						<td>{% if entity.formapago %}
								{% if entity.formapago == 'P' %}
									<span style="color: blue;">Pendiente de Aprobaci&oacute;n</span>
								{% endif %}
								{% if entity.formapago == 'S' %}
									<span style="color: green;">Pagado</span>
								{% endif %}
								{% if entity.formapago == 'F' %}
									<span style="color: red;">Fallo el Pago</span>
								{% endif %}
								{% if entity.formapago == 'O' %}
									Acuerda con Vendedor
								{% endif %}
							{%else%}Sin acordar - (<a href="{{ path('joyas_joyas_formapago', {id: entity.id}) }}">acordar</a>){%endif%}</td>
						<td>$ {{ entity.total }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}