{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{{ path('joyas_joyas_web') }}">Inicio</a></li>
					<li><a href="{{ path('joyas_joyas_micuenta', {idusuarioweb:idusuarioweb}) }}">Mi Cuenta</a></li>
					<li class="active">Pedido</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--product-starts-->
	<div class="product" id="product" > 
		<div class="container">
			<div class="col-md-12" style="text-align: center;">
				<h2>Pedido {{ pedido.id }}</h2>
			</div>
			<div class="product-top col-md-12">
				<div class="product-one" style="text-align:center;font-size:20px;">
					<div class="col-md-12">  
						Fecha: {{pedido.fecha|date('Y-m-d')}}
					</div>  
					<div class="col-md-12">  
						Monto Total: ${{pedido.total}}<br>
						Estado del Pago: {% if pedido.formapago %}
											{% if pedido.formapago == 'P' %}
												<span style="color: blue;">Pendiente de Aprobaci&oacute;n</span>
											{% endif %}
											{% if pedido.formapago == 'S' %}
												<span style="color: green;">Pagado</span>
											{% endif %}
											{% if pedido.formapago == 'F' %}
												<span style="color: red;">Fallo el Pago</span>
											{% endif %}
											{% if pedido.formapago == 'O' %}
												Acuerda con Vendedor
											{% endif %}
									{%else%}
										Sin acordar - (<a href="{{ path('joyas_joyas_formapago', {id: pedido.id}) }}">acordar</a>)
									{%endif%}
										

					</div>  
					<div class="col-md-12" style="margin-top:1%;">  
						<div><strong>Detalle de Pedido</strong></div>
						<ul>
						{% for detalle in pedido.detallespedido %}
							<li>CANT: {{ detalle.cantidad }} - PR. UNIT: ${{ detalle.precio}} - {{ detalle.productodesc}}</li>						
						{% endfor %}
						</ul>
					</div>  
				</div>					
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--product-end-->
<!-- DATA TABLE -->
<script type="text/javascript" src="{{ asset('bundles/DataTable/jquery.dataTables.min.js') }}"></script>

<script>
$(document).ready(function() {
	$(".memenu .active").removeClass('active');

});

</script>
{% endblock %}