{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{{ path('joyas_joyas_web') }}">Inicio</a></li>
					<li class="active">Registro</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--register-starts-->
	<div class="register">
		<form action="{{ path('joyas_joyas_registro') }}" method="post" onsubmit="return comprobar();"> 
			<div class="container">
				<div class="register-top heading">
					<h2>Registro</h2>
				</div>
				<div class="register-main">
					<div class="col-md-6 account-left">
						<input placeholder="Nombre" name="nombre" type="text" tabindex="1" required>
						<input placeholder="Email" name="email" type="email" class="email" tabindex="3" required>
						<input placeholder="Tel&eacute;fono" name="telefono" type="text" tabindex="3" required>
					</div>
					<div class="col-md-6 account-left">
						<input placeholder="Clave" type="password" tabindex="4" id="clave" name="clave" required>
						<input placeholder="Repita clave" type="password" tabindex="4" id="repita" required>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="address submit">
					<input type="submit" value="Enviar">
				</div>
			</div>
		</form>
	</div>
	<!--register-end-->
<script>

function comprobar(){
	if($('#clave').val() == $('#repita').val()){
		return true;
	}else{
		alert('Las claves deben ser iguales.');
		return false;
	}	
}

</script>
{% endblock %}
