{% extends 'JOYASJoyasBundle::baseweb.html.twig' %}
{% block content -%}
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="{{ path('joyas_joyas_web') }}">Inicio</a></li>
					<li class="active">Visi&oacute;n Extendida</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-single-->
	<div class="single contact">
		<div class="container">
			<div class="single-main">
				<div class="col-md-9 single-main-left">
					<div class="sngl-top">
						<div id="contimg" class="col-md-5 single-top-left">	
							<div class="flexslider">
								<ul class="slides">
								{% if entity.producto.imagenesproducto|length > 0 %}
									{% for imagen in entity.producto.imagenesproducto %}
									<li data-thumb="{{asset(imagen.webPath)}}">
										<div class="thumb-image"> 
											<img src="{{asset(imagen.webPath)}}" style="width:100%;height:auto;" data-imagezoom="true" class="img-responsive" alt=""/>
										</div>
									</li>
									{% endfor %}
								{% else %}
									<li data-thumb="{{asset('bundles/web/images/sinimagen.jpg')}}">
										<div class="thumb-image"> 
											<img src="{{asset('bundles/web/images/sinimagen.jpg')}}" data-imagezoom="true" class="img-responsive" alt=""/> 
										</div>
									</li>
								{% endif %}
								</ul>
							</div>
							<!-- FlexSlider -->
							<script src="{{ asset('bundles/web/js/imagezoom.js') }}"></script>
							<script defer src="{{ asset('bundles/web/js/jquery.flexslider.js') }}"></script>
							<link rel="stylesheet" href="{{ asset('bundles/web/css/flexslider.css') }}" type="text/css" media="screen" />
							<script>
							$(window).load(function() {
							  $('.flexslider').flexslider({
								animation: "slide",
								controlNav: "thumbnails"
							  });
								var slider1 = $('.flexslider').flexslider({
													animation: "slide",
													controlNav: "thumbnails"
												  });
								slider1.resize();
							});
							</script>
						</div>	
						<div class="col-md-7 single-top-right">
							<div class="single-para simpleCart_shelfItem">
							<h2>
								{{ entity.producto.descripcion }}
							</h2>
							<h3>
								C&oacute;digo: <span class="item_name">{{ entity.producto.codigo }}</span>
							</h3>
							{% if entity.producto.descuento != '' and entity.producto.descuento>0  %}
							<h3>
								Precio anterior: <span style="padding: 0px 0px;color: red;padding-right: 10px;;color:red;">$ {{ entity.valor }} (-{{ entity.producto.descuento }}%)</span>
							</h3>
							{% endif %}						
							<h5 class="item_price">
							{% if nombre != '' %}
								{% if entity.producto.descuento != '' and entity.producto.descuento>0  %}
								<span style="color:green;">$ {{ entity.valor * (100 - entity.producto.descuento) / 100 }}</span>										
								{% else %}
									$ {{ entity.valor }}
								{% endif %}
							{% else %}
							--
							{% endif %}						
							</h5>
							<p>
							{{entity.producto.descripcionampliada[0:50] }}...
							</p>
							<div class="available">
							</div>
							{% if nombre != '' %}
							<a href="#" class="add-cart item_add" onclick="add({{entity.producto.id}});">Agregar al Carrito</a>							
							{% endif %}
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="tabs">
						<ul class="menu_drop">
							<li class="item1"><a href="#">Descripci&oacute;n</a>
								<ul>
									<li class="subitem1">
										<textarea style="width: 100%; height: 200px; font-size: 16px; overflow:auto;" readonly>{{ entity.producto.descripcionampliada }}.</textarea>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="latestproducts">
						<div class="col-md-12 relacionados">
							Productos relacionados
						</div>
						<div class="product-one">
						{% if relacionados|length > 0 %}
						{% set precio = random(relacionados) %}
							<div class="col-md-4 product-left p-left"> 
								<div class="product-main simpleCart_shelfItem" style="margin-top:5%;">
									<a href="{{ path('producto_web', {id:precio.producto.id}) }}" class="mask" title="{{ precio.producto.descripcion }}">
									{% if precio.producto.imagenesproducto|length > 0 %}
										{% for imagen in precio.producto.imagenesproducto %}
											{% if loop.first %}
												<img width="85%" class="img-responsive zoom-img" src="{{asset(imagen.webPath)}}" alt="" />
											{% endif %}
										{% endfor %}
									{% else %}
										<img width="85%" class="img-responsive zoom-img" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt="" /></a>
									{% endif %}
									</a>
									<div class="product-bottom">
										{% if precio.producto.descripcion|length > 23 %}
										<h3>
											{{ precio.producto.descripcion[0:20] }}...
										</h3>
										{% else %}
										<h3>
											{{ precio.producto.descripcion }}
										</h3>
										{% endif %}
										<h4>C&oacute;d. <span class="item_name">{{ precio.producto.codigo }}</span></h4>
										<p>{{ precio.producto.categoriasubcategoria.categoria|default('Otros') }}</p>
										<h4>
										{% if nombre != '' %}
											<a class="item_add" onclick="add({{precio.producto.id}});" href="#"><i></i></a> <span class=" item_price">
											{% if precio.producto.descuento != '' and precio.producto.descuento>0  %}
												<span style="color:green;">$ {{ entity.valor * (100 - entity.producto.descuento) / 100 }}</span>										
											{% else %}
												$ {{ precio.valor }}
											{% endif %}
											</span>
										{% else %}$ --{% endif %}
										</h4>
									</div>
									{% if precio.producto.descuento != '' %}
									<div class="srch srch1">
										<span>-{{entity.producto.descuento}}%</span>
									</div>
									{% endif %}
								</div>
							</div>
							{% set precio = random(relacionados) %}
							<div class="col-md-4 product-left p-left"> 
								<div class="product-main simpleCart_shelfItem" style="margin-top:5%;">
									<a href="{{ path('producto_web', {id:precio.producto.id}) }}" class="mask" title="{{ precio.producto.descripcion }}">
									{% if precio.producto.imagenesproducto|length > 0 %}
										{% for imagen in precio.producto.imagenesproducto %}
											{% if loop.first %}
												<img width="85%" class="img-responsive zoom-img" src="{{asset(imagen.webPath)}}" alt="" />
											{% endif %}
										{% endfor %}
									{% else %}
										<img width="85%" class="img-responsive zoom-img" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt="" /></a>
									{% endif %}
									</a>
									<div class="product-bottom">
										{% if precio.producto.descripcion|length > 23 %}
										<h3>
											{{ precio.producto.descripcion[0:20] }}...
										</h3>
										{% else %}
										<h3>
											{{ precio.producto.descripcion }}
										</h3>
										{% endif %}
										<h4>C&oacute;d. <span class="item_name">{{ precio.producto.codigo }}</span></h4>
										<p>{{ precio.producto.categoriasubcategoria.categoria|default('Otros') }}</p>
										<h4>
										{% if nombre != '' %}
											<a class="item_add" onclick="add({{precio.producto.id}});" href="#"><i></i></a> <span class=" item_price">
											{% if precio.producto.descuento != '' and precio.producto.descuento>0  %}
												<span style="color:green;">$ {{ entity.valor * (100 - entity.producto.descuento) / 100 }}</span>										
											{% else %}
												$ {{ precio.valor }}
											{% endif %}
											</span>
										{% else %}$ --{% endif %}
										</h4>
									</div>
									{% if precio.producto.descuento != '' %}
									<div class="srch srch1">
										<span>-{{entity.producto.descuento}}%</span>
									</div>
									{% endif %}
								</div>
							</div>
						{% set precio = random(relacionados) %}
							<div class="col-md-4 product-left p-left"> 
								<div class="product-main simpleCart_shelfItem" style="margin-top:5%;">
									<a href="{{ path('producto_web', {id:precio.producto.id}) }}" class="mask" title="{{ precio.producto.descripcion }}">
									{% if precio.producto.imagenesproducto|length > 0 %}
										{% for imagen in precio.producto.imagenesproducto %}
											{% if loop.first %}
												<img width="85%" class="img-responsive zoom-img" src="{{asset(imagen.webPath)}}" alt="" />
											{% endif %}
										{% endfor %}
									{% else %}
										<img width="85%" class="img-responsive zoom-img" src="{{asset('bundles/web/images/sinimagen.jpg')}}" alt="" /></a>
									{% endif %}
									</a>
									<div class="product-bottom">
										{% if precio.producto.descripcion|length > 23 %}
										<h3>
											{{ precio.producto.descripcion[0:20] }}...
										</h3>
										{% else %}
										<h3>
											{{ precio.producto.descripcion }}
										</h3>
										{% endif %}
										<h4>C&oacute;d. <span class="item_name">{{ precio.producto.codigo }}</span></h4>
										<p>{{ precio.producto.categoriasubcategoria.categoria|default('Otros') }}</p>
										<h4>
										{% if nombre != '' %}
											<a class="item_add" onclick="add({{precio.producto.id}});" href="#"><i></i></a> <span class=" item_price">
											{% if precio.producto.descuento != '' and precio.producto.descuento>0  %}
												<span style="color:green;">$ {{ entity.valor * (100 - entity.producto.descuento) / 100 }}</span>
											{% else %}
												$ {{ precio.valor }}
											{% endif %}
											</span>
										{% else %}$ --{% endif %}
										</h4>
									</div>
									{% if precio.producto.descuento != '' and precio.producto.descuento>0  %}
									<div class="srch srch1">
										<span>-{{entity.producto.descuento}}%</span>
									</div>
									{% endif %}
								</div>
							</div>
							<div class="clearfix"></div>
						{% endif %}
						</div>
					</div>
				</div>
				<div class="col-md-3 single-right">
					<div class="w_sidebar">
						<section  class="sky-form">
							<h4>Categor&iacute;a</h4>
							<div class="row1 scroll-pane" style="height:67px;">
								<div class="col col-4">
									<label><i></i>
									{% if entity.producto.categoriasubcategoria %}
									<a href="{{ path('producto_categorias', {id:entity.producto.categoriasubcategoria.categoria.id}) }}">
									{{ entity.producto.categoriasubcategoria }}
									</a>
									{% else %}
									Otros (Otros)
									{% endif %}
									
									</label>
								</div>
							</div>
						</section>
					</div>
				</div>
				<div class="clearfix"> 
				</div>
			</div>
		</div>
	</div>
	<!--end-single-->
<script>

</script>
{% endblock %}