{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}

<h1>Edici&oacute;n de Sucursal</h1>

<div class="joyas-container" style="width: 50%; margin: 0 auto;">
	<div class="container">
		{{ form_start(edit_form) }}	
		<div>
			<strong>Direcci&oacute;n</strong><br />
			{{ form_widget(edit_form.direccion) }}
		</div>
		<div>
			<strong>Tel&eacute;fono</strong><br />
			{{ form_widget(edit_form.telefono) }}
		</div>
		<div style="display:none;">
			<strong>Cliente / Proveedor</strong>
			{{ form_widget(edit_form.clienteproveedor) }}
		</div>
		{{ form_end(edit_form) }}	
        <a class="btn btn-default" href="{{ path('sucursal', {id: entity.clienteproveedor.id}) }}">
            Volver
        </a>
    </div>
</div>
<script>
	$(document).ready(function (){
		$("input").attr('class','form-control');
	});
</script>
{% endblock %}