{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
<h1 style="margin-bottom:10px;">
	Sucursales de '{{clienteproveedor.razonSocial}}'
{% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
	<a style="float: right;" class="btn btn-success" href="{{ path('sucursal_new', {id:clienteproveedor.id}) }}">
		Crear
	</a>
{% endif %}
	<a style="float: right;" class="btn btn-default" href="{{ path('clienteproveedor') }}">
		Volver
	</a>
</h1>
<div class="tablasScroll">
	<table id="tablas" class="display">
        <thead>
            <tr>
                <th>Direcci&oacute;n</th>
                <th>Tel&eacute;fono</th>
                <th>Mail</th>
                <th>Contacto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {{ entity.direccion }}
                    {{entity.localidad !=''  ? ' - '~entity.localidad : ''}}{{entity.provincia !='' ? ', '~entity.provincia : ''}}
                    {{entity.codigopostal !=''  ? '- CP: '~entity.codigopostal : ''}}
                </td>
                <td>{{ entity.telefono }}</td>
                <td>{{ entity.mail }}</td>
                <td>{{ entity.contacto }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('sucursal_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
