{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
<h1>Nueva Sucursal</h1>

<div class="joyas-container" style="width: 50%; margin: 0 auto;">
	<div class="container">
		{{ form_start(form) }}	
		<div>
			<strong>Direcci&oacute;n</strong><br />
			{{ form_widget(form.direccion) }}
		</div>
		<div>
			<strong>Tel&eacute;fono</strong><br />
			{{ form_widget(form.telefono) }}
		</div>
		<div style="display:none;">
			<strong>Cliente / Proveedor</strong>
			{{ form_widget(form.clienteproveedor) }}
		</div>
		{{ form_end(form) }}	
        <a class="btn btn-default" href="{{ path('sucursal', {id:app.request.get('id')}) }}">
            Volver
        </a>
    </div>
</div>
<script>
	$(document).ready(function (){
		$("input").addClass('form-control').attr('required','required');
	});
</script>
{% endblock %}
