{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
			Pagos
			{% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
            <a style="float: right;" class="btn btn-default" href="{{ path('pago_new') }}">
                Registrar Pago
            </a>
			{% endif %}
			</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row" style="margin-bottom: 2%;">
		<form action="{{ path('pago') }}" method="POST">
			<div class="col-md-3">
				<input type="text" value="{{app.request.get('desde')}}" id="fechaDesde" class="form-control" name="desde" placeholder="fecha desde">
			</div>
			<div class="col-md-3">
				<input type="text" value="{{app.request.get('hasta')}}" id="fechaHasta" class="form-control" name="hasta" placeholder="fecha hasta">
			</div>
			{% if perfil == 'ADMINISTRADOR' %}
			<div class="col-md-3">
				<select class="form-control" name="unidad">
					<option value="0">Elegir Unidad</option>
					{% for unidad in unidades %}
						<option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
					{% endfor %}
			   </select>
		   	</div>
			{% endif %}
			<div class="col-md-3" style="padding-top: 1px;">
				<button class="btn btn-success" type="submit">
					Buscar
				</button>
			</div>
		</form>
	</div>
	<div>
	<div class="tablasScroll">
		<table id="tablaSF" class="display">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Documento</th>
					<th>Proveedor</th>
					{% if perfil == 'ADMINISTRADOR' %}
					<th>Unidad de Negocio</th>
					{% endif %}
					<th>Importe</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.fecha|date('Y-m-d') }}</td>
					<td><a href="{{ path('pago_show', { 'id': entity.id }) }}">{{ entity }}</a></td>
					<td>
						<a title="Ir a la Cuenta Corriente" data-toggle="tooltip" data-placement="left" href="{{ path('clienteproveedor_cc', { 'id': entity.clienteproveedor.id }) }}">
							{{ entity.clienteproveedor|default("") }}
						</a>
					</td>
					{% if perfil == 'ADMINISTRADOR' %}
					<td>{{ entity.unidadNegocio }}</td>
					{% endif %}
					<td>$ {{ entity.importe }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-sm-12">
		{{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
	</div>
<script>
	$('document').ready(function(){
		$('td').css('padding', '2px');
		$('.pagination a').attr('class', 'btn btn-default');
		$('.pagination li').css('float', 'left');
		$('.pagination').css('width', '100%');
	});
</script>
<style>
.active .btn
{
    background-color: #9E9E9E;
}
ul{
	list-style: none;
}
</style>

{% endblock %}
