{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>
        Nuevo Pago
        <a class="btn btn-default" href="{{path('pago')}}">
            Volver
        </a>
    </h1>

    {{ form_start(form) }}
    <div class="joyas-container" style="margin: 0 auto;">
        <div class="container">
            <div style="margin-bottom: 2%;margin-top: 2%;">
                {{ form_widget(form.submit) }}
            </div>
            <div class="col-md-6">
                <label>Seleccione Proveedor</label>
                {#<select name="clienteProveedor" id="idproveedor">#}
                    {#{% for clienteProveedor in clientesProveedores %}#}
                        {#<option value="{{ clienteProveedor.id }}">#}
                            {#{{ clienteProveedor.razonSocial }}#}
                        {#</option>#}
                    {#{% endfor %}#}
                {#</select>#}
                {% if facturas|length>0 %}
                    <br/>
                    {{ entity.clienteProveedor }}
                {% else %}
                    {{ form_widget(form.clienteProveedor) }}
                {% endif %}
            </div>
            {% if perfil == 'ADMINISTRADOR' %}
                <div class="col-md-6">
                    <label>Seleccione Unidad</label>
                    <select name="unidad" id="unidad">
                        {% for unidad in unidades %}
                            <option value="{{ unidad.id }}" punto="{{ unidad.punto }}">
                                {{ unidad.descripcion }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
            <div class="col-md-6 hidden">
                <label>Numeraci&oacute;n autom&aacute;tica</label>
                <input type="checkbox" name="auto" id="auto" value="true" checked="true" />
            </div>
            <div class="col-md-6">
                {{ form_row(form.fecha) }}
            </div>
            <div class="col-md-6">
                <label>Punto de Venta</label>
                {{ form_widget(form.puntoventa) }}
            </div>
            {% if facturas|length>0 %}
                {{ form_row(form.facturas) }}
            {% endif %}
            <div class="col-md-12" style="margin-top: 2%;margin-bottom: 1%; font-size: 20px;color: #00006f;">
                <strong>
                    Medios (<span id="resmedio"></span>) +
                    Cheques (<span id="rescheques"></span>) +
                    Retenciones (<span id="resretenciones"></span>) = <span id="restotal"></span>
                </strong>
            </div>
            <div class="col-md-12" style="margin-top: 2%;">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#medios" data-toggle="tab" aria-expanded="true">Medios</a>
                    </li>
                    <li class=""><a href="#chequess" data-toggle="tab" aria-expanded="false">Cheques</a>
                    </li>
                    <li class=""><a href="#retenciones" data-toggle="tab" aria-expanded="false">Retenciones</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="medios">
                        <p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    Medio
                                </th>
                                <th>
                                    Importe
                                </th>
                                <th>
                                    Nro Tr.
                                </th>
                                <th>
                                    Nro Cupón
                                </th>
                                <th>
                                    Cuotas
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for medio in medios if 'tarjeta' not in medio.descripcion|lower %}
                                <tr>
                                    <td>
                                        <strong>{{ medio.descripcion }}</strong>
                                        <input type="hidden" name="medio{{ medio.id }}" value="{{ medio.id }}" />
                                    </td>
                                    <td>
                                        {% if loop.first and facturas|length>0 %}
                                            <input type="number" step="0.01" min="0" name="importemedio{{ medio.id }}" class="importemedio" value="{{ totalFacturas }}"/>
                                        {% else %}
                                            <input type="number" step="0.01" min="0" name="importemedio{{ medio.id }}" class="importemedio" value="{{ app.request.get('importe'~medio.id) }}"/>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <input type="number" min="0" name="numerotransaccion{{ medio.id }}" value="{{ app.request.get('numerotransaccion'~medio.id) }}"/>
                                    </td>
                                    <td>
                                        <input type="number" min="0" name="numerocupon{{ medio.id }}" value="{{ app.request.get('numerocupon'~medio.id) }}"/>
                                    </td>
                                    <td>
                                        <input type="number" min="0" name="cuotas{{ medio.id }}" value="{{ app.request.get('cuotas'~medio.id) }}"/>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="chequess">
                        <div class="col-md-12">
                            <strong>Cheques</strong>
                        </div>
                        <div class="col-md-12">
                            <select name="selectcheques[]" id="selectcheques" multiple onblur="resultado();$('input[type=text]').blur();" style="height: 200px; overflow-x: auto;">
                                {% for cheque in cheques %}
                                    <option value="{{cheque.id}}">
                                        BANCO: {{cheque.banco}} - TIPO: {{cheque.tipocheque}} -
                                        EMISI&Oacute;N: {{cheque.fechaemision|date('Y-m-d')}} - COBRO: {{cheque.fechacobro|date('Y-m-d')}} -
                                        NRO: {{cheque.nrocheque}} - IMPORTE: {{cheque.importe}}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="retenciones">
                        <div class="col-md-12" style="font-weight:bold; text-align:center;">
                            <div class="col-sm-2">CALCULAR</div>
                            <div class="col-sm-5">DESCRIPCI&Oacute;N</div>
                            <div class="col-sm-5">IMPORTE</div>
                        </div>
                        {% for ret in tiporetenciones %}
                            <div class="col-md-12">
                                <div class="col-sm-2"><input type="checkbox" class="calcularetencion" id="check{{ret.id}}" value="retencionimporte{{ret.id}}" /></div>
                                <div class="col-sm-5"><input type="text" readonly="readonly" name="retencion{{loop.index}}" value="{{ret.descripcion}}" /></div>
                                <div class="col-sm-5"><input type="text" readonly="readonly" placeholder="Importe" id="retencionimporte{{ret.id}}" name="retencionimporte{{loop.index}}" /></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr />
                <strong>Observaciones</strong>
                {{ form_widget(form.descripcion) }}
            </div>
            <div style="display:none;">
                {{ form(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
    <script>
      $('.importemedio').keyup(function(){
        resultado();
      });
      $( document ).ready(function() {
        $('#joyas_joyasbundle_pago_puntoventa').attr('readonly','readonly');
        {% if facturas|length > 0 %}
        resultado();
        {% endif %}

        $( "input" ).addClass('form-control');
        $('.importemedio').removeAttr("required");
        $("#fechaDocumento").removeAttr('required');
        for(var v = 0; v < 6; v++){ver(v);}
        $('#joyas_joyasbundle_pago_puntoventa').val($('#unidad :selected').attr('punto'));
      });

      $('#unidad').change(function(){
        $('#joyas_joyasbundle_pago_puntoventa').val($('#unidad :selected').attr('punto'));
      });
      $('.calcularetencion').click(function(){
        var idretimp = $(this).val();
        if($(this).is(':checked')) {
          $('#'+idretimp).removeAttr('readonly');
          var res = idretimp.split("retencionimporte");

          $.post( '{{path('pago')}}', { data: res[1], data2: $('#idproveedor').val(), data3: $('#totalneto').val() })
            .done(function( data ) {
              $('#'+idretimp).val(Math.round(data * 100) / 100);
              resultado();
            });

        } else {
          $('#'+idretimp).attr('readonly','readonly').val('');
          resultado();
        }
      });

      $("input[type=text]").blur(function(){
        resultado();
        var id = $(this).attr('id');
        if(id.indexOf('retencionimporte') == '-1'){
          // Calculo las retenciones checkeadas
          $("input[type=checkbox]:checked").each(function(){
            var idretimp = $(this).val();
            if($(this).val() != 'true' && $(this).is(':checked')) {
              $('#'+idretimp).removeAttr('readonly');
              var res = idretimp.split("retencionimporte");
              $.post( '{{path('pago')}}', { data: res[1], data2: $('#idproveedor').val(), data3: $('#totalneto').val() })
                .done(function( data ) {
                  $('#'+idretimp).val(Math.round(data * 100) / 100);
                  resultado();
                });
            }
          });
        }
      });

      function resultado(){

        var importemedios = 0;

        $('.importemedio').each(function () {
          if(this.value!==''){
            importemedios += parseFloat(this.value);
          }
        });

        var retenciones = 0;
        var cheques = 0;
        var total = 0;

        $("#selectcheques option:selected").each(function(){
          var res = $(this).text().split('IMPORTE: ');
          cheques = cheques + parseFloat(res[1]);
        });

        for(var i = 1; i<={{tiporetenciones|length}}; i++){
          if($('input[name=retencionimporte'+i+']').val()!=''){
            retenciones = retenciones + parseFloat($('input[name=retencionimporte'+i+']').val());
          }
        }
        if(isNaN(retenciones)){
          retenciones = 0;
        }
        if(isNaN(cheques)){
          cheques = 0;
        }
        if(isNaN(importemedios)){
          importemedios = 0;
        }
        total = retenciones + cheques + importemedios;
        var totalneto = cheques + importemedios;
        $("#totalneto").val(totalneto);
        $("#resmedio").html(importemedios);
        $("#resretenciones").html(Math.round(retenciones * 100) / 100);
        $("#rescheques").html(Math.round(cheques * 100) / 100);
        $("#restotal").html(Math.round(total * 100) / 100);
        $("#joyas_joyasbundle_pago_importe").val(total);
      }
      function ver(id){
        if($('#'+id).html() == '<i class="fa fa-minus"></i>'){
          $('#'+id).html('<i class="fa fa-plus"></i>');
          $("#datos"+id).slideToggle();
          $('input[name=banco'+id+']').val(0).removeAttr('required');
          $('input[name=tipocheque'+id+']').val(0).removeAttr('required');
          $('input[name=nrocheque'+id+']').val('').removeAttr('required');
          $('input[name=importe'+id+']').val(0).removeAttr('required');
          $('input[name=fechaemision'+id+']').val('').removeAttr('required');
          $('input[name=fechacobro'+id+']').val('').removeAttr('required');
          $('input[name=firmantes'+id+']').val('');
          $('input[name=cuit'+id+']').val('');
        }else{
          $('#'+id).html('<i class="fa fa-minus"></i>');
          $("#datos"+id).slideToggle();
          $('input[name=banco'+id+']').attr('required','required');
          $('input[name=tipocheque'+id+']').attr('required','required');
          $('input[name=nrocheque'+id+']').attr('required','required');
          $('input[name=importe'+id+']').val('').attr('required','required');
          $('input[name=fechaemision'+id+']').attr('required','required');
          $('input[name=fechacobro'+id+']').attr('required','required');
          $('input[name=firmantes'+id+']').val('');
          $('input[name=cuit'+id+']').val('');
        }
      }
    </script>
    <style>
        #cheques .col-md-12 .col-xs-3,#cheques .col-md-12 .col-xs-2, #cheques .col-md-12 .col-xs-4,#cheques .col-md-12 .col-xs-6{
            padding-right:0px;
            padding-left:0px;
        }
        #cheques .col-md-12{
            margin-top: 1%;
            margin-bottom: 1%;
        }

        #retenciones .col-md-12{
            margin-top: 1%;
            margin-bottom: 1%;
        }

    </style>

{% endblock %}
