{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
<h1>Edici&oacute;n de Usuario</h1>
<div class="joyas-container" style="width: 50%; margin: 0 auto;">
	<div class="container">
		{{ form_start(edit_form) }}
			{{ form_errors(edit_form) }}
		
			{{ form_row(edit_form.login) }}
			{{ form_row(edit_form.clave) }}
			{{ form_row(edit_form.mail) }}
		{% if perfil == 'ADMINISTRADOR' %}			
		<div class="unidadnegocio">
		{% else %}
		<div style="display:none;" class="unidadnegocio">
		{% endif %}
			<label for="unidadNegocio" class="required" style="font-weight: bold;">Unidad de Negocio</label>
			{{ form_widget(edit_form.unidadNegocio) }}
		</div>
		{% if perfil == 'ADMIN' %}	
			<label for="perfil" class="required" style="font-weight: bold;">Perfil</label>
			<select id="perfil" name="perfil" required="required" >
				<option value="ADMIN">ADMIN</option>
				{% if perfil == 'ADMINISTRADOR' %}
				<option value="ADMINISTRADOR">ADMINISTRADOR</option>
				{% endif %}
				<option value="VENDEDOR">VENDEDOR</option>
			</select>
		{% endif %}
			<div class="hidden" id="ocultarPerfil">{{ form_row(edit_form.perfil) }}</div>
			{{ form_widget(edit_form.submit) }}
			<a class="btn middle-second"  href="{{ path('usuario') }}">
				Volver
			</a>
		{{ form_end(edit_form) }}	
	</div>
</div>

<script>
	activarActionsTab('usuario');
	$(document).ready(function (){
		$("input").attr('class','form-control');
		$('#ocultarPerfil').css({'display':'none'});
		$('#joyas_joyasbundle_usuario_perfil').css({'display':'none'});	
		$('#perfil option[value="{{entity.perfil}}"]').prop('selected', true);
	});
	$('#perfil').change(function(){
		var holaBienVo = $('#perfil').val();
		$('#joyas_joyasbundle_usuario_perfil').val(holaBienVo);	
	});
</script>
{% endblock %}
