{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
	<h1 style="margin-bottom:10px;">
		Usuarios 
{% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
		<a style="float: right;" class="btn btn-default" href="{{ path('usuario_new') }}">
			Crear
		</a>
{% endif %}
	</h1>
	<div class="tablasScroll">
		<table id="tablas" class="display">
			<thead>
				<tr>
					<th>Login</th>
					<th>Mail</th>
					<th>Clave</th>
					<th>Perfil</th>
					{% if perfil == 'ADMINISTRADOR' %}
					<th>Unidad de negocio</th>
					{% endif %}
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.login }}</td>
					<td>{{ entity.mail }}</td>
					<td>
						<a class="btn btn-info" data-toggle="tooltip" data-placement="left" title="{{ entity.clave }}">
							<span class="fa fa-eye"></span>
						</a>
					</td>
					<td>{{ entity.perfil }}</td>
					{% if perfil == 'ADMINISTRADOR' %}
					<td>{{ entity.unidadnegocio|default('') }}</td>
					{% endif %}
					<td>
						<a class="btn btn-default" href="{{ path('usuario_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
					{% if perfil == 'ADMINISTRADOR' or perfil == 'ADMIN' %}
    					{% if entity.estado == 'A' %}
        					{% if entity.id != usuario.id %}
        						<a class="btn btn-danger" href="{{ path('usuario_delete', { 'id': entity.id }) }}"><i class="fa fa-times"></i></a>
        					{% endif %}
    					{% else %}
    						<a class="btn btn-success" href="{{ path('usuario_activar', { 'id': entity.id }) }}"><i class="fa fa-spin fa-refresh"></i></a>
    					{% endif %}
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	
	<script>
		
		activarActionsTab('usuario');
	</script>
    {% endblock %}
