{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
<h1>Nuevo usuario</h1>
<div class="joyas-container" style="width: 50%; margin: 0 auto;">
	<div class="container">
		{{ form_start(form) }}
			{{ form_errors(form) }}
		
			{{ form_row(form.login) }}
			{{ form_row(form.clave) }}
			{{ form_row(form.mail) }}
			{% if perfil == 'ADMINISTRADOR' %}			
			<div class="unidadnegocio">
			{% else %}
			<div style="display:none;" class="unidadnegocio">
			{% endif %}
				<label for="unidadNegocio" class="required" style="font-weight: bold;">Unidad de Negocio</label>
				{{ form_widget(form.unidadNegocio) }}
			</div>
			<label for="perfil" class="required" style="font-weight: bold;">Perfil</label>

			{% if perfil == 'ADMINISTRADOR' %}			
				<select id="perfil" name="perfil" required="required" onchange="if(this.value == 'ADMINISTRADOR'){$('.unidadnegocio').css({'display': 'none'});}else{$('.unidadnegocio').css({'display': 'block'});}">
			{% else %}
				<select id="perfil" name="perfil" required="required">
			{% endif %}
				<option value="ADMIN">ADMIN</option>
				{% if perfil == 'ADMINISTRADOR' %}
				<option value="ADMINISTRADOR">ADMINISTRADOR</option>
				{% endif %}
				<option value="VENDEDOR">VENDEDOR</option>
			</select>

			<div id="ocultarPerfil">{{ form_row(form.perfil) }}</div>
			{{ form_widget(form.submit) }}
			<a class="btn middle-second"  href="{{ path('usuario') }}">
				Volver
			</a>
		{{ form_end(form) }}	
	</div>
</div>

<script>
	$(document).ready(function (){
		$("input").attr('class','form-control');
		$('#ocultarPerfil').css({'display':'none'});
		$('#joyas_joyasbundle_usuario_perfil').css({'display':'none'});
		$('#joyas_joyasbundle_usuario_perfil').val($('#perfil').val());	
	});
	$('#perfil').change(function(){
		var holaBienVo = $('#perfil').val();
		$('#joyas_joyasbundle_usuario_perfil').val(holaBienVo);	
	});
</script>
{% endblock %}
