{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block title %}
	Inicio {% block subtitle %} Login {% endblock %}
{% endblock %}


{% block content %}

<style>
	input, textarea, .uneditable-input {
		width: inherit;
	}
</style>

<h1 style="text-align: center;">
	<img style="margin-right: 22px;" width="200px" src="{{ asset('bundles/logotitanio.png') }}" />
</h1>
<div class="row-fluid" >
  {% for flashMessage in app.session.flashbag.get('msgError') %}
	  <div class="span4 offset4" >
		<div class="alert alert-block fade in alert-error">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>{{ flashMessage }}</h4>
	  </div>
	  </div>
  {% endfor %}
  {% for flashMessage in app.session.flashbag.get('msgWarn') %}
	  <div class="span4 offset4" >
		<div class="alert alert-block fade in alert-warning">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>{{ flashMessage }}</h4>
	  </div>
	  </div>
  {% endfor %}
  {% for flashMessage in app.session.flashbag.get('msgOk') %}
	  <div class="span4 offset4" >
		<div class="alert alert-block fade in alert-success">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>{{ flashMessage }}</h4>
	  </div>
	  </div>
  {% endfor %}
  {% for flashMessage in app.session.flashbag.get('msgInfo') %}
	  <div class="span4 offset4" >
		<div class="alert alert-block fade in alert-info">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>{{ flashMessage }}</h4>
	  </div>
	  </div>
  {% endfor %}
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Inicio de Sesi&oacute;n</h3>
			</div>
			<div class="panel-body">
				<form action="{{ path('joyas_joyas_login') }}" method="POST" autocomplete="off">
					<fieldset>
						<div class="form-group">
							<input class="form-control" placeholder="Usuario" name="usuario" type="text" autofocus="">
						</div>
						<div class="form-group">
							<input class="form-control" placeholder="Clave" name="contrasena" type="password" value="">
						</div>
					    <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="row-fluid">
			<div style="text-align: center;">
				<a href="{{ path('joyas_joyas_restClave') }}" >Olvid&eacute; mi contraseña</a>
			</div>
		</div>
	</div>
</div>

<div class="row-fluid" style="margin-top: 30px">
	<div class="span6 offset3" style="text-align: center; font-size: 100%">
	</div>
</div>
{% endblock %}
