{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block body %}

	{{ parent() }}

{% endblock %}
{% block content -%}

{% set desde = app.session.get('desde') %}
{% set fin = app.session.get('fin') %}
{% set unidad = app.session.get('unidad') %}

	<div class="row-fluid" style="text-align: center;">
		<img style="width: 30%;" src="{{ asset('bundles/logotitanio.png') }}" />
	</div>
	<div id="cotizacion" class="row-fluid" style="text-align: center; margin: 0 auto; width: 280px; font-weight: bold; font-size: 17px;">
		Cotizaci&oacute;n del D&iacute;a
	</div>
	<div id="cotizacion" class="row-fluid" style="text-align: center; margin: 0 auto; width: 280px; font-size: 16px;">

		<!-- COMIENZO codigo cotizacion personalizado -->
		<span id="cotizacion_personalizada" class="cotizacion_personalizada">
			<a href="http://www.dolarcito.com.ar/?ver=cotizacion_de_divisa&divisa=1">D&oacute;lar</a> ${dolar_c} / ${dolar_v}<br>
			<a href="http://www.dolarcito.com.ar/?ver=cotizacion_de_divisa&divisa=2">Euro</a> ${euro_c} / ${euro_v}<br>
		</span>
		
		<script src="http://www.dolarcito.com.ar/scripts/cotizacion_personalizada.js" language="javascript" type="text/javascript"></script>
		<script language="javascript" type="text/javascript">show(s_cotizacion_personalizada)</script>
		<!-- FIN codigo cotizacion personalizado -->
	</div>
	<div class="col-md-12">
		<h1 class="text-center">Accesos Directos</h1>
		<div class="row text-center">
			<div class="col-md-12 text-center" style="margin-bottom: 1em;">
				<a class="btn btn-lg btn-success" href="{{ path('factura') }}">Ventas <i class="fa fa-list"></i></a>
				<a class="btn btn-lg btn-warning" href="{{ path('facturaproveedor') }}">Compras <i class="fa fa-list"></i></a>
				<a class="btn btn-lg btn-info" href="{{ path('clienteproveedor') }}">Clientes y Proveedores <i class="fa fa-users"></i></a>
			</div>
			<div class="col-md-12 text-center">
				<a class="btn btn-lg btn-danger" href="{{ path('pago') }}">Pagos <i class="fa fa-minus"></i></a>
				<a class="btn btn-lg btn-default" href="{{ path('cobranza') }}">Cobranzas <i class="fa fa-dollar"></i></a>
				<a class="btn btn-lg btn-primary" href="{{ path('producto') }}">Productos <i class="fa fa-cubes"></i></a>
			</div>
		</div>
	</div>
<script>
	$('.preloader').css({'display':'none'});
	$(document).ready(function (){
		
		$('.preloader').css('display','none');
		
		$('#cotizacion table').css({
			'-webkit-box-shadow': '1px 0px 28px -6px rgba(235,232,235,1)',
			'-moz-box-shadow': '1px 0px 28px -6px rgba(235,232,235,1)',
			'box-shadow': '1px 0px 28px -6px rgba(235,232,235,1)',
			'background': '-moz-linear-gradient(center top , #fff, #fdfdfd) repeat scroll 0 0 #fdfdfd',
			'border': '1px solid #d5d5d5',
			'border-radius': '4px',
			'margin-bottom': '15px',
			'width': '267px'
		});
		$('#cotizacion table table').css({
			'margin-bottom': '5px'
		});
		$('#cotizacion div').css({'width':'300px'});
		$('font').css({'color':'black'});
		$('.coqui table a').css({'display':'none'});
		$('.dolarcito_linki').css({'display':'none'});
	});

	var fin = '{{fin}}';		
	if(fin=='no'){
		var direccion = '{{path('joyas_joyas_importarArchivos')}}?desde={{desde}}&unidad={{unidad}}';
		window.location.href = direccion;
	}
</script>
{% endblock %}
