{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
<h1 style="margin-bottom:10px;">
	Subcategor&iacute;as
	<a style="float: right;" class="btn btn-default" href="{{ path('subcategoria_new') }}">
		Crear
	</a>
</h1>

<div class="tablasScroll">
	<table id="tablas" class="display">
        <thead>
            <tr>
                <th>Descripci&oacute;n</th>
                <th>Categor&iacute;a</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.categoria }}</td>
                <td>
					<a class="btn btn-default" href="{{ path('subcategoria_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
					<a class="btn btn-danger" href="{{ path('subcategoria_delete', { 'id': entity.id }) }}"><i class="fa fa-times"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
