{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Edición de Rubro
		<a href="{{ path('rubro') }}">
            Volver
        </a>
	</h1>
	<hr />
    <div class="gestion col-sm-6 col-sm-offset-3">
		{{ form(edit_form) }}
	</div>
{% endblock %}
