{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
			Compras
			{% if perfil == 'ADMIN' %}
            <a style="float: right;" class="btn btn-default" href="{{ path('documento_new', {'tipo': 'F'}) }}">
                Registrar compra
            </a>
			{% endif %}
			{% if perfil == 'ADMINISTRADOR' %}
            <button data-toggle="modal" data-target="#modal" style="float: right;" class="btn btn-default">
                Registrar compra
            </button>
			<!-- modal -->
			<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Registrar Compra</h4>
						</div>
						<div class="modal-body" style="text-align:center;">
							<form class="formModal" enctype="multipart/form-data" action="{{ path('documento_new', {'tipo': 'F'}) }}" method="post">
								<div style="margin-top: 25px;">
									<strong>Seleccione Unidad de Negocio</strong>	
									<div style="margin-left: 90px; margin-top: 10px;">
										<select id="unidad" name="unidad" style="width: 80%;">
											{% for unidad in unidades%}
											<option value="{{unidad.id}}">{{unidad.descripcion}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<br>
								<button type="submit" class="btn btn-default" style="margin-top:-20px;">REGISTRAR</button>
							</form>
						</div>
						<div class="modal-footer" style="margin-top: 1%;">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			{% endif %}
			</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row-fluid filtro">
		<form id="searchForm" action="{{ path('documento_filtro', { 'place': 'compras' }) }}" method="POST">
			<li class="sidebar-search" style="width">
				<div class="input-group custom-search-form" style="width: 70%;">
					<input type="text" style="width:30%;" value="{{app.request.get('fechaDesde')}}" id="fechaDesde" class="form-control" name="fechaDesde" placeholder="fecha desde">
					<input type="text" style="width:30%;" value="{{app.request.get('fechaHasta')}}" id="fechaHasta" class="form-control" name="fechaHasta" placeholder="fecha hasta">													
					<select name="listado" style="width:30%;" class="form-control">
						<option value="0">Elegir Proveedor</option>
						{% for clienteProveedor in clientesProveedores %}
							<option value="{{ clienteProveedor.id }}">
								{{ clienteProveedor.razonSocial }}
							</option>
						{% endfor %}
					</select>
				{% if perfil == 'ADMINISTRADOR' %}							
					<select class="form-control" name="unidadnegocio" style="width: 30%;">
						<option value="0">Elegir Unidad</option>
						{% for unidad in unidades %}
							<option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
						{% endfor %}
				   </select>
				{% endif %}
					<button class="btn btn-default" type="button" onclick="$('#searchForm').submit();">
						<i class="fa fa-search"></i>
					</button>
				</div>
				<!-- /input-group -->
			</li>
		</form>
	</div>
	<div class="tablasScroll">
		<table id="tablaSF" class="display">
			<thead>
				<tr>
					<th>Fecha Doc.</th>
					<th>Fecha Regist.</th>
					<th>Documento</th>
					<th>Proveedor</th>
					{% if perfil == 'ADMINISTRADOR' %}							
					<th>Unidad de Negocio</th>
					{% endif %}
					<th>Importe</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.fecha|date('Y-m-d') }}</td>
					<td>{{ entity.fechaRegistracion|date('Y-m-d') }}</td>
					<td><a href="{{ path('documento_show', { 'id': entity.id }) }}">FACTURA {{ entity.movimientocc.documento.nrocomprobante|default(entity.movimientocc.id) }}</a></td>
					<td>
						<a title="Cuenta Corriente" href="{{ path('clienteproveedor_cc', { 'id': entity.movimientocc.clienteproveedor.id }) }}">
                        {{ entity.movimientocc.clienteproveedor }}
                        </a>
                    </td>
                    </td>
					{% if perfil == 'ADMINISTRADOR' %}				
					<td>{{ entity.movimientocc.unidadNegocio }}</td>
					{% endif %}
					<td>{{ entity.monedaSim }} {{ entity.importe }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-sm-12">
		{{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }} 
	</div>
<script>
	$('document').ready(function(){
		$('td').css('padding', '2px');
		$('.pagination a').attr('class', 'btn btn-default');
		$('.pagination li').css('float', 'left');
		$('.pagination').css('width', '100%');
	});
</script>
<style>
.active .btn
{
    background-color: #9E9E9E;
}
</style>	
{% endblock %}