{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
			Gastos
		{% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
            <a style="float: right;" class="btn btn-default" href="{{ path('documento_new', {'tipo': 'RP', 'esgasto': 'si'}) }}">
                Registrar gastos
            </a>
		{% endif %}
			</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row-fluid filtro">
		<form id="searchForm" action="{{ path('documento_filtro', { 'place': 'gastos' }) }}" method="POST">
			<div class="input-group custom-search-form col-md-12">
				<input type="text" style="width:30%;" value="{{app.request.get('fechaDesde')}}" id="fechaDesde" class="form-control" name="fechaDesde" placeholder="fecha desde">
				<input type="text" style="width:30%;" value="{{app.request.get('fechaHasta')}}" id="fechaHasta" class="form-control" name="fechaHasta" placeholder="fecha hasta">													
			{% if perfil == 'ADMINISTRADOR' %}							
				<select class="form-control" name="unidadnegocio" style="width: 30%;">
					<option value="0">Elegir Unidad</option>
					{% for unidad in unidades %}
						<option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
					{% endfor %}
			   </select>
			{% endif %}
				<button class="btn btn-default" type="submit">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</form>
	</div>
	<div>	
	<div class="tablasScroll">
		<table id="tablaSF" class="display">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Documento</th>
					<th>Proveedor</th>
					{% if perfil == 'ADMINISTRADOR' %}							
					<th>Unidad de Negocio</th>
					{% endif %}
					<th>Importe</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.fecha|date('Y-m-d') }}</td>
					<td><a href="{{ path('documento_show', { 'id': entity.id }) }}">GASTO {{ entity.movimientocc.documento.nrocomprobante|default(entity.movimientocc.id) }}</a></td>
					<td>
						<a title="Cuenta Corriente" href="{{ path('clienteproveedor_cc', { 'id': entity.movimientocc.clienteproveedor.id }) }}">
                        {{ entity.movimientocc.clienteproveedor }}
                        </a>
                    </td>
					{% if perfil == 'ADMINISTRADOR' %}				
					<td>{{ entity.movimientocc.unidadNegocio }}</td>
					{% endif %}
					<td>{{ entity.monedaSim }} {{ entity.importe }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-sm-12">
		{{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }} 
	</div>
<script>
	$('document').ready(function(){
		$('td').css('padding', '2px');
		$('.pagination a').attr('class', 'btn btn-default');
		$('.pagination li').css('float', 'left');
		$('.pagination').css('width', '100%');
	});
</script>
<style>
.active .btn
{
    background-color: #9E9E9E;
}
</style>	
	
{% endblock %}