{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Documento </h1>

    <table class="table table-condensed ado">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo de Gasto</th>
                <th>Fecha</th>
                <th>Importe</th>
                <th>Tipo Documento</th>
                <th>Moneda</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('documento_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.tipoGasto }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.importe }}</td>
                <td>{{ entity.tipoDocumento }}</td>
                <td>{{ entity.moneda }}</td>
                <td>
                <ul>
                    <li>
                        <a class="btn btn-default" href="{{ path('documento_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a class="btn btn-default" href="{{ path('documento_new') }}">
                Crear
            </a>
        </li>
    </ul>
    <script>
	
	activarMenuTab('gestion');	
	activarActionsTab('documento');
</script>
{% endblock %}
