{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>
	{% if entity.tipoDocumento == 'F' %} Factura Proveedor {% endif %}
	{% if entity.tipoDocumento == 'C' %} Nota de Cr&eacute;dito {% endif %}
	{% if entity.tipoDocumento == 'D' %} Nota de D&eacute;bito {% endif %}
	{% if entity.tipoDocumento == 'A' %} Ajuste de Caja {% endif %}
	{% if entity.tipoDocumento == 'G' %} Alta de Gasto {% endif %}
	{% if entity.tipoDocumento == 'R' %} Alta de Recibo de Cliente {% endif %}
	{% if entity.tipoDocumento == 'RP' %} Alta de Recibo de Proveedor {% endif %}
	</h1>

    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
		<div class="container">
		{{ form_start(form) }}
			{% if perfil == 'ADMINISTRADOR' and entity.tipoDocumento == 'G'%}			
				<div>
					<label>Unidad de Negocio</label>
					<select name="unidadnegocio">
						{% for unidad in unidades %}
							<option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
						{% endfor %}
					</select>
				</div>
			{% endif %}			
			{% if perfil == 'ADMINISTRADOR' and entity.tipoDocumento == 'A'%}			
				<div>
					<label>Unidad de Negocio</label>
					<select name="unidadnegocio">
						{% for unidad in unidades %}
							<option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
						{% endfor %}
					</select>
				</div>
			{% endif %}			
			{% if entity.tipoDocumento == 'F' or entity.tipoDocumento == 'RP'  %} <label>Seleccione Proveedor</label>
				 <select name="clienteProveedor">
				{% for clienteProveedor in clientesProveedores %}
					{% if clienteProveedor.clienteProveedor == '2' %} 
						<option value="{{ clienteProveedor.id }}">
							{{ clienteProveedor.razonSocial }}
							{% if perfil == 'ADMINISTRADOR' %}
								- {{ clienteProveedor.unidadNegocio }}
							{% endif %}
						</option>
					{% endif %}
				{% endfor %}
		 	{% endif %}
			{% if entity.tipoDocumento == 'R' %} <label>Seleccione Cliente</label>
				 <select name="clienteProveedor">
				{% for clienteProveedor in clientesProveedores %}
					{% if clienteProveedor.clienteProveedor == '1' %} 
						<option value="{{ clienteProveedor.id }}">
							{{ clienteProveedor.razonSocial }}
							{% if perfil == 'ADMINISTRADOR' %}
								- {{ clienteProveedor.unidadNegocio }}
							{% endif %}
						</option>
					{% endif %}
				{% endfor %}
		 	{% endif %}
			 </select><br>
			 
			<div class="recibos">
				<label>Fecha</label>
				<input name="fechaDocumento" onBlur="comprobar();" id="fechaDocumento" onkeydown="return false" required />
				<div style="display:none;">{{ form_widget(form.fecha) }}</div>
			</div>

			<div class="tipogasto">
				<label>Tipo de Gasto</label>
				{{ form_widget(form.tipoGasto) }}
			</div>
			<div style="display:none;">
				{{ form_widget(form.tipoDocumento) }}
				{{ form_widget(form.observacion) }}
				{{ form_widget(form.nrocomprobante) }}
			</div>		
		{% if entity.tipoDocumento == 'C' or entity.tipoDocumento == 'D' %}
			<div>
		{% else %}
			<div style="display:none;">
		{% endif  %}
				<label>Descripci&oacute;n</label>
				{{ form_widget(form.descripcion) }}
				<label>Nro. Factura</label>
				{{ form_widget(form.nrofactura) }}
				<label>Nro. Remito</label>
				{{ form_widget(form.nroremito) }}
			</div>
			<div>
				{{ form(form) }}
				{{ form_widget(form.submit) }}
				<a class="btn btn-default" href="javascript:history.back();">
					Volver
				</a>
			</div>
		 {{ form_end(form) }}		
		</div>
	</div>
<script>
	$( document ).ready(function() {
		$( "input" ).each(function() {
			var css = $(this).attr('class');
			css = css + ' form-control';
			$(this).attr('class', css);
		});	
		{% if entity.tipoDocumento != 'G' %}
			$(".tipogasto").css({'display':'none'});
		{% endif %}

		{% if entity.tipoDocumento == 'R' %}
			$(".recibos").css({'display':'none'});
			$("#fechaDocumento").removeAttr('required')
		{% endif %}

		{% if entity.tipoDocumento == 'RP' or entity.tipoDocumento == 'C' or entity.tipoDocumento == 'D' %}
			$(".recibos").css({'display':'none'});
			$("#fechaDocumento").removeAttr('required')
		{% endif %}
		
		{% if entity.tipoDocumento == 'A' %}
			$(".recibos").css({'display':'none'});
			$("#fechaDocumento").removeAttr('required')
		{% endif %}		

		$("#joyas_joyasbundle_documento_nrofactura").removeAttr('required')
		$("#joyas_joyasbundle_documento_nrocomprobante").removeAttr('required')
		$("#joyas_joyasbundle_documento_observacion").removeAttr('required')
		$("#joyas_joyasbundle_documento_nroremito").removeAttr('required')
	});
	function comprobar(){
		var hoy = new Date();
		var from = $("#fechaDocumento").val().split("-");
		var fecha = new Date(from[2], from[1] - 1, from[0]);
		
		if(hoy < fecha){
			alert('La fecha ingresada debe ser menor a la fecha actual o igual.')
			$("#fechaDocumento").val('');
		}
	}
	
	{% if entity.tipoDocumento == 'F' %} activarActionsTab('compras'); {% endif %}
	{% if entity.tipoDocumento == 'A' %} activarActionsTab('caja'); {% endif %}
	{% if entity.tipoDocumento == 'R' %} activarActionsTab('cobranzas'); {% endif %}
	{% if entity.tipoDocumento == 'RP' %} activarActionsTab('pagos'); {% endif %}
	{% if entity.tipoDocumento == 'G' %} activarActionsTab('gastos'); {% endif %}
	{% if entity.tipoDocumento == 'C' %} activarActionsTab('clienteproveedor'); {% endif %}
	{% if entity.tipoDocumento == 'D' %}activarActionsTab('clienteproveedor'); {% endif %}
</script>
{% endblock %}
