{% extends 'JOYASJoyasBundle::base.html.twig' %} {% block content -%}
<h1>
	Nueva Nota de Cr&eacute;dito {{tipofactura}}
</h1>
<div class="joyas-container facturas" style="width: 100% !important; margin: 0 auto;padding:0px;padding-top: 2%;padding-bottom: 2%;">
	<div class="container">
		<form action="{{ path('documento_create') }}" method="POST" id="form" onkeypress="if(event.keyCode == 13) event.returnValue = false;">
			<div class="col-md-3">
				<label>
					{{clienteProveedor.clienteproveedorstr}}
				</label>
				<div style="margin-bottom: 10px;">
	   				<input type="hidden" value="{{ clienteProveedor.id }}" name="clienteproveedor" />
                    {{ clienteProveedor.razonsocial }}
				</div>
			</div>
			<div class="col-md-3">
				<label>
					Condici&oacute;n frente al IVA
				</label>
				<div style="margin-bottom: 10px;">
					{{ clienteProveedor.condicioniva }}
				</div>
			</div>
			<div class="col-md-3">
				<label>
					Sucursal
				</label>
				<div style="margin-bottom: 10px;">
					<select name="sucursal" class="form-control">
                    {% for sucursal in clienteProveedor.sucursales %}
                        <option value="{{sucursal.id}}">{{sucursal.direccion}}</option>
                    {% endfor %}
                    </select>
				</div>
			</div>
			<div class="col-md-3">
				<label>
					Moneda
				</label>
				<div style="margin-bottom: 10px;">
				{{ form_widget(form.moneda) }}
				</div>
			</div>
			<div class="col-md-3">
				<label>
					Nro. Factura
				</label>
				<div style="margin-bottom: 10px;">
				{{ form_widget(form.nrofactura) }}
				</div>
			</div>
			<div class="col-md-3">
				<label>
					Nro. Remito
				</label>
				<div style="margin-bottom: 10px;">
				{{ form_widget(form.nroremito) }}
				</div>
			</div>
		{% if perfil == 'ADMINISTRADOR' %}			
			<div class="col-md-3">
				<label>Unidad de Negocio</label>
				<select name="unidad">
					{% for unidad in unidades %}
						<option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
					{% endfor %}
				</select>
			</div>
		{% endif %}			
			<div style="col-md-12">
				<table class="table table-condensed ado">
					<thead>
						<tr>
							<th>
								Descripci&oacute;n
							</th>
							<th>
								Cantidad
							</th>
							<th>
								Precio U.
							</th>
							<th>
								Con IVA?
							</th>
							<th>
								Sub. Total
							</th>
							<th>
								Acci&oacute;n
							</th>
						</tr>
					</thead>
					<tbody id="agregar">
						<tr>
							<td>
								<input name="descripcion0" class="descripcionProd" id="descripcion0" required />
							</td>
							<td>
								<input type="number" step="0.01" name="cantidad0" onblur="calcularResultado();" id="cantidad0" />
							</td>
							<td>
								<input type="number" step="0.01" name="precio0" class="precio" id="precio0" onblur="calcularResultado();"/>
							</td>
							<td>
								<input type="checkbox" name="coniva0" id="coniva0" value="si" onclick="calcularResultado();" />
							</td>
							<td>
								<input type="number" step="0.01" name="subtotal0" id="subtotal0" readonly="readonly" onblur="calcularResultado();"/>
							</td>
							<td>
								<a href="#" onclick="borrarDatos();" class="btn btn-default">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="botones" id="botones">
				<a class="btn btn-default" href="#" id="emitir" onclick="agregar();">
				Agregar L&iacute;nea
				</a>
				<a class="btn btn-default" href="#" id="emitir" onclick="comprobarDatos();">
				Emitir Nota
				</a>
				<a class="btn btn-default" href="{{ path('clienteproveedor_cc', {'id': clienteProveedor.id}) }}">
				Volver
				</a>
			</div>
			<div class="saldo">
				<table style="text-align: right">
					<tr>
						<td>
							<strong>
								Importe Neto Gravado:
							</strong>
						</td>
						<td>
							<span id="subtotal">
							</span>
						</td>
					</tr>
					<tr>
						<td>
							<strong>
								IVA 21%:
							</strong>
						</td>
						<td>
							<span id="resultadoivafinal">
							</span>
						</td>
						<input id="resultadoiva" name="resultadoiva" type="hidden" value="0" />
						</td>
					</tr>
					<tr>
						<td>
							<strong>
								Importe Total:
							</strong>
						</td>
						<td>
							<strong>
								<span id="resultado">
								</span>
							</strong>
							<input id="resultadoFinal" name="resultadoFinal" type="hidden" value="0" />
						</td>
					</tr>
				</table>
			</div>
			<input name="contador" id="contador" type="hidden" value="1"/>
			<input name="tipo" id="tipo" type="hidden" value=""/>
			<input name="documento" id="documento" type="hidden" value="Factura"/>
			<input name="tipofactura" id="tipofactura" type="hidden" value="{{tipofactura}}"/>
			<div style="display: none;">
				{{ form(form) }}
			</div>
		</form>
	</div>
</div>
<script>
	

	var contador = 1;

	function borrarDatos(){
		$('#cantidad0').val('');
		$('#descripcion0').val('');
		$('#precio0').val('');
		$('#codigo0').val('');
		$('#bonif0').val('');
		$('#preciobonif0').val('');
		$('#subtotal0').val('');
		$('#subtotaliva0').val('');
		calcularResultado();		
	}
	
	function comprobarDatos(){
//		$('#botones').css({'display':'none'});
		if(confirm('Esta seguro que desea confirmar la nota?')){
			$('#form').submit();
		}
  	}
	
	function agregar(){
		$( "#agregar" ).append('<tr id="lineaAgregada'+contador+'">'
            +'<td><input class="form-control" name="descripcion'+contador+'" class="descripcionProd" id="descripcion'+contador+'" /></td>'
            +'<td><input class="form-control" name="cantidad'+contador+'" type="number" step="0.01" onblur="calcularResultado();" id="cantidad'+contador+'" required /></td>'
            +'<td><input class="form-control" name="precio'+contador+'"  type="number" step="0.01" class="precio" id="precio'+contador+'" onblur="calcularResultado();"/></td>'
            +'<td><input class="form-control" name="coniva'+contador+'" id="coniva'+contador+'" value="si" type="checkbox" onclick="calcularResultado();"/></td>'
            +'<td><input class="form-control" name="subtotal'+contador+'" readonly="readonly" id="subtotal'+contador+'" onblur="calcularResultado();"/></td>'
            +'<td><a onclick="borrarLinea('+contador+')" class="btn btn-default">Eliminar</a></td>'
        +'</tr>');
		
		contador = contador +1;
		$('#contador').val(contador);
	}

	function borrarLinea(cont){
		var id = '#lineaAgregada'+cont;
		$( id ).remove();
		calcularResultado();
	}

	
	function calcularResultado(){
		var total = 0;
		var subtotallinea = 0;
		var subtotal = 0;
        var resiva = 0;

		for(i=0; i<contador; i++){
			if(typeof $('#precio'+i).val() === "undefined"){
			}else{
				if($('#precio'+i).val()!=''){
					subtotallinea = ($('#precio'+i).val()*$('#cantidad'+i).val());
					$('#subtotal'+i).val(Math.round(subtotallinea * 100) / 100);
                    if($('#coniva'+i).is(':checked')){
                        resiva = resiva + ((subtotallinea*1.21)-subtotallinea);
                    }
                    subtotal = subtotal + Math.round($('#subtotal'+i).val() * 100) / 100;
                }
			}
		}
        		
		subtotal = Math.round(subtotal * 100) / 100;
		
		$('#subtotal').html(' '+$('#joyas_joyasbundle_documento_moneda :selected').text()+' '+subtotal);		
               		
		$('#resultadoivafinal').html(' '+Math.round(resiva * 100) / 100);
		$('#resultadoiva').val(Math.round(resiva * 100) / 100);
        total = subtotal + resiva;
		total = Math.round(total * 100) / 100;
        $('#resultado').html(' '+$('#joyas_joyasbundle_documento_moneda :selected').text()+' '+total);
		$('#resultadoFinal').val(total);
	}
	
	$(document).ready(function() {
		$( "input" ).addClass('form-control');	
		$('select').addClass('form-control');
	});

</script>
<style>
	
.form-control {
    padding: 6px 2px !important;
}    

</style>
{% endblock %}
