{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1 style="text-align:center;">
	{% if entity.tipoDocumento == 'F' %} 
    Factura {{ entity.nrocomprobante|default(entity.movimientocc.id) }} del proveedor {{entity.movimientocc.clienteproveedor}}<br />
    {% endif %}
	</h1>
	<div class="col-md-12" style="margin-bottom: 2%;">
		<table style="text-align: center; min-height: 300px; width: 650px; margin-bottom: 20px;border: inset;   margin: 0 auto;">
			<tbody>
				<tr>
					<th style="text-align: center;">{{ entity.movimientocc.clienteProveedor.clienteProveedorStr|default('') }}</th>
					<td>{{ entity.movimientocc.clienteProveedor }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Fecha de la Factura</th>
					<td>{{ entity.fecha|date('d-m-Y') }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Fecha de Registracion</th>
					<td>{{ entity.fechaRegistracion|date('d-m-Y') }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Descuento</th>
					<td>{{entity.monedaSim}} {{ entity.descuento }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Bonificaci&oacute;n</th>
					<td>{{entity.monedaSim}} {{ entity.bonificacion }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Percep. IIBB Capital</th>
					<td>{{entity.monedaSim}} {{ entity.iibbcap }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Percep. IIBB Provincia</th>
					<td>{{entity.monedaSim}} {{ entity.iibbprov }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Percep. IVA Capital</th>
					<td>{{entity.monedaSim}} {{ entity.ivacap }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Percep. IVA Provincia</th>
					<td>{{entity.monedaSim}} {{ entity.ivaprov }}</td>
				</tr>
				<tr>
					<th colspan="2" style="text-align: center;">PRODUCTOS</th>
				</tr>
				<tr>
					<td colspan="2">
						<strong>
							<div class="col-xs-1">Cant.</div>
							<div class="col-xs-8">Desc. ( COD )</div>
							<div class="col-xs-3">Precio</div>
						</strong>
						{% for pD in entity.productosDocumento %}
						<div class="col-xs-1">{{ pD.cantidad }}</div>
						<div class="col-xs-8">{{ pD.producto.descripcion }} ( {{ pD.producto.codigo }} )</div>
						<div class="col-xs-3">{{ pD.precio }}</div>
						{% endfor %}
					</td>
				</tr>
                {%  if entity.importeiva %}
				<tr>
					<th style="text-align: center;">Importe IVA</th>
					<td>{{ entity.monedaSim }} {{ entity.importeiva }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Importe SUBTOTAL</th>
					<td>{{ entity.monedaSim }} {{ entity.importe - entity.importeiva }}</td>
				</tr>
				<tr>
					<th style="text-align: center;">Importe TOTAL</th>
					<td>{{ entity.monedaSim }} {{ entity.importe }}</td>
				</tr>
                {%  else %}
				<tr>
					<th style="text-align: center;">Importe</th>
					<td>{{ entity.monedaSim }} {{ entity.importe }}</td>
				</tr>
                {%  endif %}
			</tbody>
		</table>
	</div>
    {% if entity.observacion != ''%}
	<div class="col-md-12" style="text-align:left;">
	   <strong>Observaciones</strong><br />
       {{ entity.observacion|raw }}
    </div>
    {% endif %}
	<div class="col-md-12" style="text-align:center;">
		<a class="btn btn-default" href="{{ path('clienteproveedor_cc', {id: entity.movimientocc.clienteProveedor.id})}}">
			Cuenta Corriente
		</a>
		<a class="btn btn-default" href="{{ path('documento_compras') }}">
			Volver
		</a>
	</div>
{% endblock %}
