{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
<div id="imprimir">
	<header style="width: 100%; text-align:center;">
        <table id="content" class="display" cellspacing="0" width="100%" style="border:  1px solid;margin-top: 1%;">
            <thead>
                <tr style="">
                    <th colspan="2" ><img width="200px" src="{{asset('bundles/logoberxa.png')}}"></th>
                    <th style="border:  1px solid;" colspan="2">
                        <span style="text-align: center;font-size: 60px;">A</span> <br /> 
                        {% if entity.tipodocumento == 'D' %}
                            <span style="font-size: 14px;">cod. 02</span>
                        {% else %}
                            <span style="font-size: 14px;">cod. 03</span>
                        {% endif %}
                    </th>
                    {% if entity.tipodocumento == 'D' %}
                    <th colspan="2" style="font-size: 28px;">NOTA DE D&Eacute;BITO</th>
                    {% else %}
                    <th colspan="2" style="font-size: 28px;">NOTA DE CR&Eacute;DITO</th>
                    {% endif %}
                </tr>
                <tr>
                    <th colspan="2" style="">Raz&oacute;n Social: 
                        <span style="font-weight: normal;">
                            Berxa S.R.L.
                        </span>
                    </th>
                    <th style="border-right: 1px solid;"></th>
                    <th></th>
                    <th colspan="2">Punto Vta: 0004 - Comp. Nro: <span style="font-weight: normal;">{{entity.nrocomprobante|default('S/N') }}</span></th>
                </tr>
                <tr>
                    <th colspan="2" style="">
                        Domicilio Comercial:<span style="font-weight: normal;"> Av. del Libertador 3042 2B<br />La Lucila, Buenos Aires</span>
                    </th>
                    <th style="border-right: 1px solid;"></th>
                    <th></th>
                    <th colspan="2">CUIT: <span style="font-weight: normal;">33-71565862-9</span></th>
                </tr>
                <tr>
                    <th colspan="2" style="">
                        Condici&oacute;n Frente al IVA: <span style="font-weight: normal;">IVA Responsable Inscripto</span>
                    </th>
                    <th style="border-right: 1px solid;"></th>
                    <th></th>
                    <th colspan="2">Ingresos Brutos:<span style="font-weight: normal;"> 901-33715658629</span></th>
                </tr>
                <tr style="border-bottom: 1px solid;">
                    <th colspan="2" style="">
                        Fecha de Emisi&oacute;n: <span style="font-weight: normal;">{{entity.fecha|date('d/m/Y')}}</span>
                    </th>
                    <th style="border-right: 1px solid;"></th>
                    <th></th>
                    <th colspan="2">
                        Fecha de Inicio de Actividades: <span style="font-weight: normal;">07/2017</span>
                    </th>
                </tr>
                <tr>
                    <th colspan="2" style="">CUIT: <span style="font-weight: normal;">{{entity.movimientocc.clienteProveedor.cuit}}</span> </th>
                    <th></th>
                    <th></th>
                    <th colspan="2">Apellido y Nombre / Raz&oacute;n Social: <span style="font-weight: normal;">{{entity.movimientocc.clienteProveedor.razonSocial }}</span></th>
                </tr>
                <tr>
                    <th colspan="2" style="">
                        Condici&oacute;n Frente al IVA: <span style="font-weight: normal;">{{entity.movimientocc.clienteProveedor.condicionIva}}</span>
                    </th>
                    <th></th>
                    <th></th>
                    <th colspan="2">
                        Domicilio Comercial:
                        <span style="font-weight: normal;"> 
                            {% if entity.sucursal %}    
                               {{ entity.sucursal }}
                            {% else %}
                                {{entity.movimientocc.clienteProveedor.domiciliocomercial}}
                            {% endif %}
                        </span>
                    </th>
                </tr>
                <tr style="border-bottom: 1px solid;">
                    <th colspan="2" style="">
                        Condici&oacute;n de Venta: <span style="font-weight: normal;">Contado</span>
                    </th>
                    <th></th>
                    <th></th>
                    <th colspan="2">
                        Nro. Factura: <span style="font-weight: normal;">{{entity.nrofactura}}</span>
                        {% if entity.nroremito%}
                        <br />Nro. Remito: <span style="font-weight: normal;">{{entity.nroremito}}</span>
                        {% endif %}
                    </th>
                </tr>
            </thead>
        </table>
	</header>

    <table id="content" style="text-align: center; width: 100%; margin-top: 1%;border: inset;">
        <thead>
            <tr style="border-bottom: 1px solid;">
                <th>C&oacute;digo</th>
                <th>Desc.</th>
                <th>Cantidad</th>
                <th>Precio U.</th>
                <th>Con Iva</th>
                <th>Sub. Total</th>
            </tr>
        </thead>
        <tbody>
		{% set length = entity.productosDocumento|length  %}				
        {% for prodoc in entity.productosDocumento %}
			<tr style="height: 22px">
				<td>
				</td>
				<td>
                    {{ prodoc.descripcion }}
				</td>
				<td>
                    {{ prodoc.cantidad }}
				</td>
				<td>
					{{ (prodoc.precio)|number_format(4, '.', ',') }}
				</td>
				<td>
                    {{ prodoc.coniva|default('no') }}
				</td>
				<td>
					{{ (prodoc.precio*prodoc.cantidad)|number_format(4, '.', ',') }}
				</td>
			</tr>
		{% endfor %}
    {% if length < 19 %}
		{% set numero = 19 - length %}
		{% for i in 0..numero %}
			<tr style="height: 22px">
				<td colspan="6">
				</td>
			</tr>
		{% endfor %}
	{% endif %}
        </tbody>
    </table>
    <footer>
        <table id="content" class="display" cellspacing="0" width="100%" style="border:  1px solid;margin-top: 1%;"> 
            <tfoot>
        		<tr>
        			<th>
                    </th>
        			<th>
                    </th>
        			<th style="text-align: right;">
                        importe Neto Gravado:$ 
                    </th>
        			<th>
                        {{ (entity.importe-(entity.importe*1.21-entity.importe))|number_format(2, '.', ',') }}
                    </th>
        		</tr>
        		<tr>
        			<th>
                    </th>
        			<th>
                    </th>
         			<th style="text-align: right;">
                        IVA 21%:$ 
                    </th>
        			<th>
                        {{ entity.importeiva }}
                    </th>
        		</tr>
        		<tr style="border-bottom: 1px solid;">
        			<th>
                    </th>
        			<th>
                    </th>
         			<th style="text-align: right;">
                        Importe Total:$ 
                    </th>
        			<th>
                        {{ entity.importe }}
                    </th>
        		</tr>
        		<tr>
        			<th colspan="2">
                    </th>
        			<th style="text-align: right;font-size: 16px;" colspan="2">
                        CAE N&#186;: {{entity.cae}}
                    </th>
        		</tr>
        		<tr style="border-bottom: 1px solid;">
        			<th colspan="2">
                    </th>
        			<th style="text-align: right;font-size: 16px;" colspan="2">
                        Fecha Vencimiento CAE : {{entity.fechavtocae|date('d/m/Y')}}
                    </th>
        		</tr>
            </tfoot>
        </table>
    </footer>
</div>
<div id="oculto" style="text-align: center; margin-top: 1%;margin-bottom: 1%;">
    <a class="btn btn-default" href="javascript:imprSelec()">
        Imprimir
    </a>
    <a class="btn btn-default" id="print">
        Capturar
    </a>
    <a class="btn btn-default" href="{{ path('clienteproveedor_cc', {id: entity.movimientocc.clienteProveedor.id})}}">
        Volver
    </a>
</div>

<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="{{asset('bundles/html2canvas.js')}}"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.1/css/buttons.dataTables.min.css">

<script language="Javascript">
    function imprSelec(){
        $('#oculto').css('display','none');
    	window.print();    
        $('#oculto').css('display','block');
    }
    
    $(document).ready(function (){
        $("#print").click(function(e){
                e.preventDefault();
                html2canvas($("#imprimir"), {
                    background: '#fff',
                    onrendered: function (canvas) {
                        var myImage = canvas.toDataURL("image/png");
                        $('#oculto').css('display','none');
                        window.open(myImage);
                        window.document.close(); // necessary for IE >= 10
                        window.focus(); // necessary for IE >= 10
                        $('#oculto').css('display','block');
                    }
                });   
            });
       });

 
</script> 
{% endblock %}
