{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Edici&oacute;n de Tipo de Percepci&oacute;n</h1>

    <div class="joyas-container" style="width: 50%; margin: 0 auto;">
    <div class="container">{{ form(edit_form) }}<a class="btn btn-default" href="{{ path('tipopercepcion')  }}">Volver
    </a></div></div>
	
<script>
	$(document).ready(function (){
		$("input").addClass('form-control').attr('required','required');
	});	
	activarActionsTab('tipopercepcion');
</script>
{% endblock %}
