{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
	<h1 style="margin-bottom:10px;">
		Tipo Percepci&oacute;n
		<a style="float: right;" class="btn btn-default" href="{{ path('tipopercepcion_new') }}">
			Crear
		</a>
	</h1>

	<div class="tablasScroll">
		<table id="tablas" class="display">
			<thead>
				<tr>
					<th>Descripci&oacute;n</th>
					<th>Porcentaje</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.descripcion }}</td>
					<td>{{ entity.porcentaje }}</td>
					<td>
						<a class="btn btn-default" href="{{ path('tipopercepcion_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
    <script>
	
	activarActionsTab('tipopercepcion');
</script>
{% endblock %}
