{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
	<h1 style="margin-bottom:10px;">
		Unidades de Negocio
		<a style="float: right;" class="btn btn-default" href="{{ path('unidadnegocio_new') }}">
			Crear
		</a>
	</h1>
	<div class="tablasScroll">
		<table id="tablas" class="display">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Responsable</th>
					<th>Tel&eacute;fono</th>
					<th>Nro. Pto. Vta.</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.descripcion }}</td>
					<td>{{ entity.responsable }}</td>
					<td>{{ entity.telefono }}</td>
					<td>{{ entity.punto }}</td>
					<td>
						<a class="btn btn-default" href="{{ path('unidadnegocio_show', { 'id': entity.id }) }}"><i class="fa fa-search"></i></a>
						<a class="btn btn-default" href="{{ path('unidadnegocio_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
    <script>

	activarMenuTab('parametria');
	activarActionsTab('unidades');
</script>
{% endblock %}
