{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>Unidad de Negocio</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ entity.responsable }}</td>
            </tr>
            <tr>
                <th>Tel&eacute;fono / Celular</th>
                <td>{{ entity.telefono }} / {{ entity.celular }}</td>
            </tr>
            <tr>
                <th>Direcci&oacute;n</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
        </tbody>
    </table>

<ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('unidadnegocio_edit', { 'id': entity.id }) }}">
            Editar
        </a>
        <a class="btn btn-default" href="{{ path('unidadnegocio') }}">
            Volver
        </a>
    </li>
</ul>
<script>
	
	activarActionsTab('unidades');
</script>
{% endblock %}
