{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block body -%}
{{ form_start(form) }}
<h1>
	Nota de {{ app.request.get('tipo')|title }}
	<a class="btn btn-default" style="margin-left:1%; float:right;" href="{{ path('clienteproveedor') }}">
		Volver
	</a>
	{{ form_widget(form.submit) }}
</h1>
<div class="col-md-12">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				Alta de Nota de {{ app.request.get('tipo')|title }}
				<label style="float:right;font-size: 1.2em;">
					<span class="iva hidden">IVA 21%: <span id="montoiva"></span> - </span>
					Total: <span id="total">$ 0</span>
				</label>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<!-- Nav tabs -->
				<ul class="nav nav-pills">
					<li class="active"><a href="#informacion" data-toggle="tab">Información Básica</a>
					</li>
					<li><a href="#elementos" data-toggle="tab">Items</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane fade in active" id="informacion">
						<h4>Información Básica</h4>
						<div class="col-md-6">
							{{ form_row(form.clienteProveedor) }}
							{{ form_row(form.fecha) }}
						</div>
						{% if usuario.perfil == 'ADMINISTRADOR' %}
                        <div class="col-md-6">
						{% else %}
						<div class="col-md-6">
							<label>Unidad de Negocio</label><br/>
							{{entity.unidadNegocio.descripcion}}
						</div>
						<div class="col-md-6 hidden">
						{% endif %}
                            {{ form_row(form.unidadNegocio) }}
                        </div>
						<div class="col-md-12">
							{{ form_row(form.descripcion) }}
						</div>
					</div>
					<div class="tab-pane fade" id="elementos">
						<h4>Items</h4>
						<div>
							<div class="col-md-6 col-sm-6 text-center">
								<label>Item</label>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<label>Cantidad</label>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<label>Precio</label>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<label>Acción</label>
							</div>
							{% for i in 1..30 %}
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<input type="text" name="elemento{{i}}" id="elemento{{i}}" />
									<div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerencia{{i}}"></div>
									<input type="hidden" name="idelemento{{i}}" id="idelemento{{i}}" />
								</div>
								<div class="col-md-2 col-sm-2">
									<input type="number" min="0" name="cantidad{{i}}" id="cantidad{{i}}" />
								</div>
								<div class="col-md-2 col-sm-2">
									<input type="text" name="precio{{i}}" id="precio{{i}}" />
								</div>
								<div class="col-md-2 col-sm-2 text-center">
									<button type="button" class="btn btn-danger" onClick="$('#cantidad{{i}}, #precio{{i}}, #elemento{{i}}, #idelemento{{i}}').val('').removeAttr('readonly')">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.row -->
</div>
	<div class="hidden">
		{{ form_rest(form) }}
	</div>
{{ form_end(form) }}

<script>
	var condicion;
	function predictivaPropia(i){
		$.post( "{{path('stock_predictiva')}}", { valor: $("#elemento"+i).val(), idunidad: $("#joyas_joyasbundle_factura_unidadNegocio").val() } )
		.done(function(data){
			$('#sugerencia'+i).fadeIn(500).html(data);
			$('.suggest-element').on('click', function(){
				var id = $(this).attr('id');
				var stock = parseInt($(this).attr('stock'));
				var precio = parseFloat($(this).attr('precio'));

				$('#elemento'+i).val($('#predictivaelemento'+id).html()).prop('readonly','readonly');
				$('#idelemento'+i).val(id);
				$('#sugerencia'+i).fadeOut(500);

				if(stock>0){
					$('#cantidad'+i).val('1').focus().attr('max', stock);
					$('#precio'+i).val(precio);
				}else{
					alert('Este articulo no cuenta con STOCK suficiente para poder ser seleccionado.');
					$('#cantidad'+i+', #elemento'+i+', #precio'+i+', #idelemento'+i).val('').removeAttr('readonly');
				}
			});
			// Si el resultado es solo uno, se selecciona automaticamente.
			if ( $('#sugerencia'+i+' ul li').length === 1 ) {
				$('#sugerencia'+i+' ul li a').click();
				var next = i + 1;
				$("#elemento"+next).focus();
			}
		});
	}

	$("document").ready(function(){
		$("input").attr("autocomplete", "off");
		$("#joyas_joyasbundle_factura_descripcion").removeAttr("required");
		$("#joyas_joyasbundle_factura_cliente").keyup(function(){
			predictivaCliente();
		});
	});
	// $("#joyas_joyasbundle_factura_submit").click(function(){
	// 	if($('form')[0].checkValidity() == true){
	// 		$("#joyas_joyasbundle_factura_submit").addClass('hidden');
	// 	}
	// });

	$("input").blur(function(){
		calcular();
	});

	function calcular(){
		var total = 0;
		for(i=1; i<=30; i++){
			if($('#cantidad'+i).val() != '' && $('#precio'+i).val()!=''){
				total+=parseFloat($('#cantidad'+i).val())*parseFloat($('#precio'+i).val());
			}
		}
		var iva21 = total-(total / 1.21);
		$('#montoiva').html('$ '+iva21.toFixed(2));
		if(condicion=='Responsable Inscripto'){
			$('#total').html('$ '+total.toFixed(2));
		}else{
			$('#total').html('$ '+total.toFixed(2));
		}
	}
</script>
{% endblock %}
