{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block body -%}
    <h1>NotaCreditoDebito</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Importe</th>
                <td>{{ entity.importe }}</td>
            </tr>
            <tr>
                <th>Nrocomprobante</th>
                <td>{{ entity.nrocomprobante }}</td>
            </tr>
            <tr>
                <th>Cae</th>
                <td>{{ entity.cae }}</td>
            </tr>
            <tr>
                <th>Ptovta</th>
                <td>{{ entity.ptovta }}</td>
            </tr>
            <tr>
                <th>Fechavtocae</th>
                <td>{{ entity.fechavtocae ? entity.fechavtocae|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Items</th>
                <td>{{ entity.itemsNota|join(', ') }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('notacreditodebito') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('notacreditodebito_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
