{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>TipoGasto</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('tipogasto_edit', { 'id': entity.id }) }}">
            Editar
        </a>
        <a class="btn btn-default" href="{{ path('tipogasto') }}">
            Volver
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
<script>
	
	activarActionsTab('tipogasto');
</script>
{% endblock %}
