{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Consignaciones
			<a style="float:right;" class="btn btn-default" href="#modal">
				Registrar Consignaci&oacute;n
			</a>
			</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row-fluid filtro">
		<form id="searchForm" action="#" method="POST">
			<li class="sidebar-search" style="width">
				<div class="input-group custom-search-form col-md-12">
					<div class="col-xs-4" style="padding: 5px 0px 5px 0px">
						<select name="listado" class="form-control">
							<option value="0">Elegir Cliente</option>
							{% for clienteProveedor in clientesProveedores %}
								<option value="{{ clienteProveedor.id }}">
									{{ clienteProveedor.razonSocial }}
								</option>
							{% endfor %}
					   </select>
					</div>
					<div class="col-xs-4" style="padding: 5px 0px 5px 0px">
						<select name="listado" class="form-control">
							<option value="0">Estado</option>
							<option value="A">Activas</option>
							<option value="I">Cerradas</option>
					   </select>
					</div>
				   {% if perfil == 'ADMINISTRADOR' %}							
					<div class="col-xs-4" style="padding: 5px 0px 5px 0px">
						<select name="unidadnegocio" class="form-control">
							<option value="0">Elegir Unidad</option>
							{% for unidad in unidades %}
								<option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
							{% endfor %}
					   </select>
					</div>
					{% endif %}
				</div>
				<div class="row-fluid">
					<input type="text" id="fechaDesde" name="fechaDesde" placeholder="fecha desde" class="form-control" style="width: 25%; min-width: 200px;float: left;">
					<input type="text" id="fechaHasta" name="fechaHasta" placeholder="fecha hasta" class="form-control" style="width: 25%; min-width: 200px; float: left;">													
					<input type="text" id="fechaVencimientoDesde" name="fechaVencimientoDesde" placeholder="fecha venc desde" class="form-control" style="width: 25%; min-width: 200px; float: left;">
					<input type="text" id="fechaVencimientoHasta" name="fechaVencimientoHasta" placeholder="fecha venc hasta" class="form-control" style="width: 25%; min-width: 200px; float: left;">													
					<button class="btn btn-default" type="button" onclick="$('#searchForm').submit();">
						<i class="fa fa-search"></i>
					</button>
				</div>
				</div>
				<!-- /input-group -->
			</li>
		</form>
	</div>

	<div class="tablasScroll">
		<table id="tablaSF" class="display">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Doc.</th>
					<th>Cliente</th>
					<th>F. Venc.</th>
					{% if perfil == 'ADMINISTRADOR' %}							
					<th>Unidad</th>
					{% endif %}
					<th>Total</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.fecha|date('Y-m-d') }}</td>
					<td>Consignacion {{ entity.id }}</td>
					<td>{{ entity.clienteproveedor|default('') }}</td>
					<td>{% if entity.fechaVencimiento %}{{ entity.fechaVencimiento|date('Y-m-d') }}{% endif %}</td>
					{% if perfil == 'ADMINISTRADOR' %}							
					<td>{{ entity.unidadNegocio }}</td>
					{% endif %}
					<td>
						{{ entity.listaPrecio.monedaStr|default('') }} {{ (entity.importe)|number_format(2, '.', ',') }}
					</td>					
					<td>{{ entity.estado }}</td>
					<td>
						{% if entity.estado != 'I' %}
							<a class="btn btn-default" href="{{ path('consignacion_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil"></i></a>
							<a class="btn btn-default" href="{{ path('consignacion_facturar', { 'id': entity.id }) }}" title="Facturar"><i class="fa fa-edit"></i></a>
						{% endif %}
						{% if entity.estado != 'I' %}
							<a class="btn btn-default" href="{{ path('consignacion_cerrar', { 'id': entity.id }) }}" title="Cerrar" ><i class="fa fa-times"></i></a>
						{% endif %}
						<a class="btn btn-default" href="{{ path('consignacion_show', { 'id': entity.id }) }}" title="Ver"><i class="fa fa-search"></i></a>
					</td>	
				</tr
			{% endfor %}
			</tbody>
		</table>
	</div>
<div id="modal" class="modalDialog" style="text-align:center;">
	<div style="height: 162px;">
		<a href="#close" title="Close" class="close">X</a>
		<div style="height: 45px;">
			<form class="formModal" enctype="multipart/form-data" action="{{ path('consignacion_new') }}" method="post">
				<div style="margin-top: 40px;">
					<strong>Seleccione una lista de precios</strong><br>
					<select name="listaprecio" style="width: 50%; margin: 0 auto;" class="form-control">
						{% for listaPrecio in listaPrecios %}
							<option value="{{ listaPrecio.id }}">
								{{ listaPrecio.descripcion }}
								{% if perfil == 'ADMINISTRADOR' %}
									- {{ listaPrecio.unidadNegocio }}
								{% endif %}
							</option>
						{% endfor %}
					</select>
				</div>
				<br>
				{% if listaPrecios|length > 0 %}
				<input type="submit" class="btn btn-default" style="margin-top:-20px;" value="Continuar" />
				{% endif %}
			</form>
		</div>
	</div>
</div>
<script>
	$('document').ready(function(){
		$('td').css('padding', '1px');
	});
	activarActionsTab('consignaciones');
</script>
	
{% endblock %}