{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}

    <div class="col-md-12" style="width: 100%;">
        <h2 style="text-align:center;">
            Orden de Cobranza
        </h2>
        <div class="col-md-12">
            <div class="col-md-12" style="font-size: 10px;text-align:center;">
                Documento no v&aacute;lido como factura
            </div>
            <div class="col-xs-6">
                <div class="col-xs-4">
                    <img width="100px" src="{{asset('bundles/logo.jpeg')}}">
                </div>
                <div class="col-xs-8">
                    {{entity.unidadnegocio.descripcion}}<br />
                    {{entity.unidadnegocio.direccion}}<br />
                    {{entity.unidadnegocio.mail}}<br />
                </div>
            </div>
            <div class="col-xs-6">
                CUIT: {{entity.unidadnegocio.cuit}}<br />
                Ingresos Brutos: {{entity.unidadnegocio.iibb}}<br />
                IVA Responsable Inscripto
            </div>
            <div class="col-md-12" style="text-align: left;">
                Nro "{{entity.nrocomprobante|default(entity.id)}}"<br /><br />
                Concepto: <strong>COBRO</strong><br />
                Fecha: <strong>{{ entity.fecha|date('d-m-Y') }}</strong><br /><br />
                Recib&iacute; de {{entity.clienteProveedor}}<br />
                domiciliado en {{entity.clienteProveedor.domiciliocomercial}}<br />
                IVA {{entity.clienteProveedor.condicioniva}} CUIT {{entity.clienteProveedor.cuit}}<br />
                la suma en pesos <span id="numeroletras"></span>
            </div>
            <div class="col-md-12" style="margin-bottom: 1%;margin-top: 1%;">
                <table width="100%" style="text-align: center;" border="solid" >
                    <thead>
                    <tr>
                        <th>Forma</th>
                        <th>Tipo Retenci&oacute;n</th>
                        <th>Banco</th>
                        <th>Nro. Tr.</th>
                        <th>Nro. Cupón</th>
                        <th>Cuotas</th>
                        <th>Importe</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for retencion in entity.retenciones %}
                        <tr>
                            <td>Retenci&oacute;n</td>
                            <td>{{retencion.tiporetencion}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>$ {{retencion.importe}}</td>
                        </tr>
                    {% endfor %}
                    {% for mediodocumento in entity.medios %}
                        <tr>
                            <td>{{ mediodocumento.medio.descripcion }}</td>
                            <td></td>
                            <td></td>
                            <td>{{ mediodocumento.numerolote|default('') }}</td>
                            <td>{{ mediodocumento.numerocupon|default('') }}</td>
                            <td>{{ mediodocumento.cuotas|default('') }}</td>
                            <td>$ {{ mediodocumento.importe }}</td>
                        </tr>
                    {% endfor %}
                    {% for cheque in entity.cheques %}
                        <tr>
                            <td>CHEQUE {{ cheque.nrocheque }}</td>
                            <td></td>
                            <td>{{ cheque.banco }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>$ {{ cheque.importe }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if entity.descripcion != ''%}
            <div class="col-md-12" style="text-align:left;">
                <div class="col-md-12" style="text-align:left;">
                    <strong>Observaciones</strong><br />
                    {{ entity.descripcion|raw }}
                </div>
            </div>
        {% endif %}
        <div class="col-md-12" style="text-align: right;margin-bottom: 5px;margin-top: 5px;">
            <div class="col-md-12" style="text-align:left;">
                <h4>TOTAL: $ {{ entity.importe }}</h4>
            </div>
        </div>
    </div>
    <div id="volver" class="col-md-12" style="margin-top:2%;">
        <div style="text-align: center;" class="col-md-12">
            <a class="btn btn-info" href="{{ path('clienteproveedor_cc', {id: entity.clienteProveedor.id})}}">
                Cuenta Corriente
            </a>
            <a class="btn btn-default" href="javascript:imprimir()">
                Imprimir
            </a>
            <a class="btn btn-warning" href="{{ path("cobranza") }}">
                Volver
            </a>
        </div>
        <div class="col-md-12 text-center" style="margin-bottom: 1em;">
            <h4>Facturas Asociadas</h4>
            {% for cobranzafactura in entity.cobranzasfactura %}
                <a class="btn btn-success" href="{{ path('factura_show', { 'id': cobranzafactura.factura.id, tipo:'F'}) }}">
                    FACTURA {{cobranzafactura.factura.tipofactura }} - N° {{ cobranzafactura.factura.nrofactura|default(cobranzafactura.factura.id) }}
                    - P.V.: {{ cobranzafactura.factura.ptovta }}
                </a>
            {% else  %}
                <label>Sin Facturas Asociadas</label>
            {% endfor  %}
        </div>
    </div>
    <script>

      activarActionsTab('documento');

      $(document).ready(function(){
        $('#numeroletras').html(NumeroALetras({{entity.importe}}));
      });

      function imprimir()
      {
        window.print();
      }
      function Unidades(num){
        switch(num)
        {
          case 1: return "UN";
          case 2: return "DOS";
          case 3: return "TRES";
          case 4: return "CUATRO";
          case 5: return "CINCO";
          case 6: return "SEIS";
          case 7: return "SIETE";
          case 8: return "OCHO";
          case 9: return "NUEVE";
        }

        return "";
      }

      function Decenas(num){

        decena = Math.floor(num/10);
        unidad = num - (decena * 10);

        switch(decena)
        {
          case 1:
            switch(unidad)
            {
              case 0: return "DIEZ";
              case 1: return "ONCE";
              case 2: return "DOCE";
              case 3: return "TRECE";
              case 4: return "CATORCE";
              case 5: return "QUINCE";
              default: return "DIECI" + Unidades(unidad);
            }
          case 2:
            switch(unidad)
            {
              case 0: return "VEINTE";
              default: return "VEINTI" + Unidades(unidad);
            }
          case 3: return DecenasY("TREINTA", unidad);
          case 4: return DecenasY("CUARENTA", unidad);
          case 5: return DecenasY("CINCUENTA", unidad);
          case 6: return DecenasY("SESENTA", unidad);
          case 7: return DecenasY("SETENTA", unidad);
          case 8: return DecenasY("OCHENTA", unidad);
          case 9: return DecenasY("NOVENTA", unidad);
          case 0: return Unidades(unidad);
        }
      }//Unidades()

      function DecenasY(strSin, numUnidades){
        if (numUnidades > 0)
          return strSin + " Y " + Unidades(numUnidades)

        return strSin;
      }//DecenasY()

      function Centenas(num){

        centenas = Math.floor(num / 100);
        decenas = num - (centenas * 100);

        switch(centenas)
        {
          case 1:
            if (decenas > 0)
              return "CIENTO " + Decenas(decenas);
            return "CIEN";
          case 2: return "DOSCIENTOS " + Decenas(decenas);
          case 3: return "TRESCIENTOS " + Decenas(decenas);
          case 4: return "CUATROCIENTOS " + Decenas(decenas);
          case 5: return "QUINIENTOS " + Decenas(decenas);
          case 6: return "SEISCIENTOS " + Decenas(decenas);
          case 7: return "SETECIENTOS " + Decenas(decenas);
          case 8: return "OCHOCIENTOS " + Decenas(decenas);
          case 9: return "NOVECIENTOS " + Decenas(decenas);
        }

        return Decenas(decenas);
      }//Centenas()

      function Seccion(num, divisor, strSingular, strPlural){
        cientos = Math.floor(num / divisor)
        resto = num - (cientos * divisor)

        letras = "";

        if (cientos > 0)
          if (cientos > 1)
            letras = Centenas(cientos) + " " + strPlural;
          else
            letras = strSingular;

        if (resto > 0)
          letras += "";

        return letras;
      }//Seccion()

      function Miles(num){
        divisor = 1000;
        cientos = Math.floor(num / divisor)
        resto = num - (cientos * divisor)

        strMiles = Seccion(num, divisor, "UN MIL", "MIL");
        strCentenas = Centenas(resto);

        if(strMiles == "")
          return strCentenas;

        return strMiles + " " + strCentenas;

        //return Seccion(num, divisor, "UN MIL", "MIL") + " " + Centenas(resto);
      }//Miles()

      function Millones(num){
        divisor = 1000000;
        cientos = Math.floor(num / divisor)
        resto = num - (cientos * divisor)

        strMillones = Seccion(num, divisor, "UN MILLON", "MILLONES");
        strMiles = Miles(resto);

        if(strMillones == "")
          return strMiles;

        return strMillones + " " + strMiles;

        //return Seccion(num, divisor, "UN MILLON", "MILLONES") + " " + Miles(resto);
      }//Millones()

      function NumeroALetras(num){
        var data = {
          numero: num,
          enteros: Math.floor(num),
          centavos: (((Math.round(num * 100)) - (Math.floor(num) * 100))),
          letrasCentavos: "",
          letrasMonedaPlural: "PESOS",
          letrasMonedaSingular: "PESO"
        };

        if (data.centavos > 0)
          data.letrasCentavos = "CON " + data.centavos + "/100";

        if(data.enteros == 0)
          return "CERO " + data.letrasMonedaPlural + " " + data.letrasCentavos;
        if (data.enteros == 1)
          return Millones(data.enteros) + " " + data.letrasMonedaSingular + " " + data.letrasCentavos;
        else
          return Millones(data.enteros) + " " + data.letrasMonedaPlural + " " + data.letrasCentavos;
      }//NumeroALetras()
    </script>
{% endblock %}
