{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Gasto list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Fecharegistracion</th>
                <th>Importe</th>
                <th>Nrocomprobante</th>
                <th>Descripcion</th>
                <th>Descuento</th>
                <th>Bonificacion</th>
                <th>Estado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('gasto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaRegistracion %}{{ entity.fechaRegistracion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.importe }}</td>
                <td>{{ entity.nrocomprobante }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.descuento }}</td>
                <td>{{ entity.bonificacion }}</td>
                <td>{{ entity.estado }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('gasto_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('gasto_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('gasto_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
