{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Pedidos
		<a href="{{ path('pedido_new') }}">
			Crear
		</a>
	</h1>
    <div style="margin-bottom: 2%;" class="row">
		<form action="{{ path('pedido') }}">
			<div class="col-md-12">
				<label>
					Filtro entre fechas
				</label>
			</div>
			<div class="col-md-3">
				<input placeholder="Fecha Desde" type="text" class="datetimepicker" name="desde" readonly="readonly" value="{{desde|default(app.request.get('desde'))}}" />
			</div>
			<div class="col-md-3">
				<input placeholder="Fecha Hasta" type="text" class="datetimepicker" name="hasta" readonly="readonly" value="{{hasta|default(app.request.get('hasta'))}}" />
			</div>
			<div class="col-md-6">
				<button type="submit" class="btn btn-success" style="margin-top:1px">Filtrar</button>
				<button type="button" class="btn btn-danger" style="margin-top:1px" onclick="$('.datetimepicker').val('')">Limpiar</button>
			</div>
		</form>
	</div>
    <div class="gestion">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.unidadOrigen }}</td>
                    <td>{{ entity.unidadDestino }}</td>
                    <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.estadostr|raw }}</td>
                    <td>
                        <a href="{{ path('pedido_show', { 'id': entity.id }) }}" class="btn btn-primary">Ver</a>
                        {% if (entity.estado == 'A' or entity.estado == 'P') %}
                        <a href="{{ path('pedido_edit', { 'id': entity.id }) }}" class="btn btn-success">Entregar</a>
                        {% endif %}
                        {% if entity.estado == 'A' %}
                        <a href="{{ path('pedido_cancelar', { 'id': entity.id }) }}" class="btn btn-danger">Cancelar</a>
                        {% endif %}
                        {% if entity.estado == 'P' %}
                        <a href="{{ path('pedido_terminar', { 'id': entity.id }) }}" class="btn btn-info">Terminar</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
