{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block body -%}
{{ form_start(form) }}
<h1 style="font-size: 1.8em;">
	Crear Pedido
	<a href="{{ path('pedido') }}">
		Volver
	</a>
	{{ form_widget(form.submit) }}
</h1>
<div class="col-md-12">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				Alta de Entrega
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<!-- Nav tabs -->
				<ul class="nav nav-pills">
					<li class="active"><a href="#informacion" data-toggle="tab">Información Básica</a>
					</li>
					<li><a href="#elementos" data-toggle="tab">Productos</a>
					</li>
				</ul>
				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane fade in active" id="informacion">
						<h4>Información Básica</h4>
						<div class="col-md-4">
							<div class="hidden">
                                {{ form_row(form.usuario) }}
                                {{ form_row(form.estado) }}
							</div>
							{{ form_row(form.fecha) }}
						</div>
                        <div class="col-md-4">
							{{ form_row(form.unidadOrigen) }}
						</div>
						<div class="col-md-4">
							{{ form_row(form.unidadDestino) }}
                        </div>
						<div class="col-md-12">
							{{ form_row(form.observacion) }}
						</div>
						{{ form_rest(form) }}
					</div>
					<div class="tab-pane fade" id="elementos">
						<h4>Productos</h4>
						<div>
							<div class="col-md-7 col-sm-7 text-center">
								<label>Insumo</label>
							</div>
							<div class="col-md-3 col-sm-3 text-center">
								<label>Cantidad</label>
							</div>
							<div class="col-md-2 col-sm-2 text-center">
								<label>Acción</label>
							</div>
							{% for i in 1..30 %}
							<div class="row">
								<div class="col-md-7 col-sm-7">
									<input type="text" name="elemento{{i}}" id="elemento{{i}}" onkeyup="predictivaPropia({{i}})" />
									<div style="z-index: 1000; max-height: 200px;overflow: auto;" id="sugerencia{{i}}"></div>
									<input type="hidden" name="idelemento{{i}}" id="idelemento{{i}}" />
								</div>
								<div class="col-md-3 col-sm-3">
									<input type="number" min="0" name="cantidad{{i}}" id="cantidad{{i}}" />
								</div>
								<div class="col-md-2 col-sm-2 text-center">
									<button type="button" class="btn btn-danger" onClick="$('#cantidad{{i}}, #precio{{i}}, #elemento{{i}}, #idelemento{{i}}').val('').removeAttr('readonly')">
										<i class="fa fa-times"></i>
									</button>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.row -->
</div>
{{ form_end(form) }}

<script>

	function predictivaPropia(i){
        var unidad = $("#joyas_joyasbundle_pedido_unidadOrigen").val();
		$.post( "{{path('producto_predictivaUnidad')}}", { data: $("#elemento"+i).val(), idunidad: unidad  } )
		.done(function(data){
			$('#sugerencia'+i).fadeIn(500).html(data);
			$('.suggest-element').on('click', function(){
				var id = $(this).attr('id');

				$('#elemento'+i).val($('#producto'+id).html()).prop('readonly','readonly');
				$('#idelemento'+i).val(id);
                $('#cantidad'+i).val('1').focus();
				$('#sugerencia'+i).fadeOut(500);
			});
		});
	}
	$("document").ready(function(){
		$("input").attr("autocomplete", "off");
	});

</script>
{% endblock %}
