{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
	<h1 style="margin-bottom:10px;">
		Editar Cheque
	</h1>
	<div class="tablasScroll">
        <form action="{{path('cheque_update', {id:entity.id})}}" method="POST">
    		<div class="col-md-12">
    			<div class="col-md-12">
    				<strong>Cheque</strong>
    			</div>
				<div class="col-md-8 col-md-offset-2">
					<select name="cuenta" id="cuenta">
						<option value="0">Seleccione Cuenta Bancaria</option>
					{% for cuenta in cuentas %}<option value="{{ cuenta.id }}">
						{{  cuenta.descripcion }} - {{  cuenta.nrocuenta }} </option>
					{% endfor %}</select>
				</div>
    			<div class="col-md-12" id="datos0">
    				<div class="col-md-4">
    					<select name="banco" id="banco">
    						<option value="0">Banco</option>
    					{% for banco in bancos %}<option value="{{ banco.id }}">
    						{{  banco.descripcion }}</option>
    					{% endfor %}</select>
    				</div>
    				<div class="col-md-4">
    					<select name="tipocheque" id="tipocheque">
    						<option value="0">Tipo Cheque</option>
    					{% for tipocheque in tipocheques %}
                            <option value="{{ tipocheque.id }}">
    						{{  tipocheque.descripcion }}
                            </option>
    					{% endfor %}
                        </select>
    				</div>
    				<div class="col-md-4">
    					<input placeholder="Fecha emisi&oacute;n" name="fechaemision" class="datetimepicker" value="{{entity.fechaemision|date('Y-m-d')}}" />
    				</div>
    				<div class="col-md-4">
    					<input placeholder="Fecha cobro" name="fechacobro" class="datetimepicker" value="{{entity.fechacobro|date('Y-m-d')}}" />
    				</div>
    				<div class="col-md-4"><input placeholder="Nro. Cheque" name="nrocheque" value="{{entity.nrocheque}}" /></div>
    				<div class="col-md-4"><input placeholder="Importe" name="importe" value="{{entity.importe}}" /></div>
    				<div class="col-md-6"><input placeholder="Firmantes" name="firmantes" value="{{entity.firmantes}}" /></div>
    				<div class="col-md-6"><input placeholder="Cuit" name="cuit" value="{{entity.cuit}}" /></div>
    			</div>
    		</div>
    		<div class="col-md-12" style="text-align: center; margin-top: 2%;">
                <input type="hidden" name="idcheque" value="{{ entity.id }}" />
                <button class="btn btn-info" type="submit">Editar</button>
                <a class="btn btn-default" href="{{path('cheque')}}">Volver</a>
    		</div>
        </form>
    </div>
<script>
	$(document).ready(function() {
	   {% if entity.cuentaorigen %}
           $('#cuenta option[value="{{entity.cuentaorigen.id}}"]').prop('selected', true);
       {% endif %}

        $('#banco option[value="{{entity.banco.id}}"]').prop('selected', true);
        $('#tipocheque option[value="{{entity.tipocheque.id}}"]').prop('selected', true);
		$( "input" ).addClass('form-control');
		$( "select" ).addClass('form-control');
	});
</script>
{% endblock %}
