{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
	<h1 style="margin-bottom:10px;">
		Cheques Disponibles
		{% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
        <button class="btn btn-success" style="float: right;" data-toggle="modal" data-target="#myModal">
			Nuevo Cheque
        </button>
        <!-- Modal -->
        <div class="modal fade out" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
    				<form class="formModal" action="{{ path('cheque_new') }}" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title" id="myModalLabel">Nuevo Cheque</h4>
                        </div>
                        <div class="modal-body">
        					<div style="text-align: center;">
        						<strong>Seleccione Unidad de Negocio</strong>
        						<select name="unidad" style="width: 70%; margin: 0 auto;" class="form-control">
        						{% for unidad in unidades %}
        							<option value="{{ unidad.id }}">
        								{{ unidad.descripcion }}
        							</option>
        						{% endfor %}
        						</select>
        					</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        					<button type="submit" class="btn btn-primary">Continuar</button>
                        </div>
    				</form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
	{% endif %}
	</h1>
	<div class="tablasScroll">
		<table id="tablas" class="display">
            <thead>
                <tr>
                    <th>Estado</th>
                    <th>Banco y N°</th>
                    <th>Tipo</th>
                    <th>Emisi&oacute;n</th>
                    <th>Cobro</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    {% if perfil != 'ADMINISTRADOR' %}
                    <th style="display: none;">
                    {% else %}
                    <th>
                    {% endif %}
                    Unidad</th>
                    <th>Importe</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% set total = 0 %}
            {% for entity in entities %}
                <tr>
                    {% if entity.estado == 'A' %}
                    {% set total = total + entity.importe %}
                    <td style="color: green;">
                        ACTIVO
                    </td>
                    {% endif %}
                    {% if entity.estado == 'U' %}
                    <td style="color: red;">
                        USADO
                    </td>
                    {% endif %}
                    {% if entity.estado == 'R' %}
                    <td style="color: blue;">
                        RETIRADO
                    </td>
                    {% endif %}
                    {% if entity.estado == 'E' %}
                    <td style="color: red;">
                        ELIMINADO
                    </td>
                    {% endif %}
                    {% if entity.estado == 'Z' %}
                    <td style="color: red;">
                        RECHAZADO
                    </td>
                    {% endif %}
                    {% if entity.estado == 'D' %}
                    <td style="color: black;">
                        DEPOSITADO
                    </td>
                    {% endif %}
                    {% if entity.estado == 'C' %}
                    <td style="color: black;">
                        CONCILIADO
                    </td>
                    {% endif %}
                    <td>{{ entity.banco }}, Nro. {{ entity.nrocheque }}</td>
                    <td>{{ entity.tipocheque }}</td>
                    <td>{{ entity.fechaemision|date('Y-m-d') }}</td>
                    <td>{{ entity.fechacobro|date('Y-m-d') }}</td>
                    <td>
                        {% if entity.cobranza %}
                        <a href="{{ path('cobranza_show', { 'id': entity.cobranza.id }) }}">
                            RECIBO {{ entity.cobranza.id }}
                        </a>
                        {% else %}
                            Alta Manual
                        {% endif %}</td>
                    <td>
                        {% if entity.pago %}
                        <a href="{{ path('pago_show', { 'id': entity.pago.id }) }}">
                            PAGO {{ entity.pago.id }}
                        </a>
                        {% endif %}
                    </td>
                    {% if perfil != 'ADMINISTRADOR' %}
                    <td style="display: none;">
                    {% else %}
                    <td>
                    {% endif %}
                        {{ entity.unidadNegocio }}
                    </td>
                    <td>$ {{ entity.importe }}</td>
                    <td>
                    {% if entity.estado == 'A' %}
                        <button title="Depositar" class="btn btn-primary" data-toggle="modal" data-target="#myModal{{entity.id}}">
                            <i class="fa fa-arrow-down"></i>
                        </button>
                        <div class="modal fade out" id="myModal{{entity.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                    				<form class="formModal" action="{{ path('cheque_depositar', {'id':entity.id}) }}" method="post">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                            <h4 class="modal-title" id="myModalLabel">Depositar</h4>
                                        </div>
                                        <div class="modal-body">
                        					<div style="text-align: center;">
                        						<strong>Seleccione Cuenta Bancaria</strong>
                        						<select name="idcuenta" style="width: 70%; margin: 0 auto;" class="form-control">
                            							<option value="0">Seleccione Cuenta</option>
                        						{% for cuenta in cuentas %}
                                                    {% if entity.cuentaorigen %}
                                                        {% if entity.cuentaorigen.id != cuenta.id %}
                                							<option value="{{ cuenta.id }}">{{ cuenta.descripcion }} ( NRO: {{ cuenta.nrocuenta }} )</option>
                                						{% endif %}
                            						{% else %}
                            							<option value="{{ cuenta.id }}">{{ cuenta.descripcion }} ( NRO: {{ cuenta.nrocuenta }} )</option>
                            						{% endif %}
                        						{% endfor %}
                        						</select>
                        					</div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        					<button type="submit" class="btn btn-primary">Continuar</button>
                                        </div>
                    				</form>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>

                        <a title="Editar" class="btn btn-success" href="{{path('cheque_edit', {'id':entity.id} )}}"><i class="fa fa-pencil"></i></a>
                        <a title="Retirar" class="btn btn-info" href="{{path('cheque_cambiarestado', {'id':entity.id, 'estado':'R'})}}"><i class="fa fa-upload"></i></a>
                        {% if entity.cobranza %}
                        {% else %}
                            <a title="Eliminar" class="btn btn-danger" href="{{path('cheque_cambiarestado', {'id':entity.id, 'estado':'E'})}}"><i class="fa fa-times"></i></a>
                        {% endif %}
                    {% endif %}
                    {% if entity.estado == 'U' %}
                        {% if entity.cuentaorigen %}
                        <a title="Conciliar" class="btn btn-success" href="{{path('cheque_conciliar', {'id':entity.id})}}">C</i></a>
                        {% endif %}
                        <a title="Rechazado" class="btn btn-danger" href="{{path('cheque_cambiarestado', {'id':entity.id, 'estado':'Z'})}}"><i class="fa fa-times"></i></a>
                    {% endif %}
                    {% if entity.estado == 'D' %}
                        <a title="Conciliar" class="btn btn-success" href="{{path('cheque_conciliar', {'id':entity.id})}}">C</i></a>
                        <a title="Rechazado" class="btn btn-danger" href="{{path('cheque_cambiarestado', {'id':entity.id, 'estado':'Z'})}}"><i class="fa fa-times"></i></a>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="10"> Total Disponible: $ {{total}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
<style>
.btn
{
    padding: 0px 3px;
}
</style>
<script>
	$(document).ready(function(){
		// table
		//     .order( [ 0, 'asc' ], [ 4, 'asc' ] )
		//     .draw();
	});
</script>
{% endblock %}
