{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
	<h1 style="margin-bottom:10px;">
		Alta de Cheque
	</h1>
	<div class="tablasScroll">
        <form action="{{path('cheque_create')}}" method="POST">
    		<div class="col-md-12">
    			<div class="col-md-12">
    				<strong>Cheque</strong>
    			</div>
				<div class="col-md-8 col-md-offset-2">
					<select name="cuenta" id="cuenta" required >
						<option value="0">Seleccione Cuenta Bancaria</option>
						{% for cuenta in cuentas %}
						<option value="{{ cuenta.id }}">
							{{  cuenta.descripcion }} - {{  cuenta.nrocuenta }}
						</option>
						{% endfor %}
				    </select>
				</div>
    			<div class="col-md-12" id="datos0">
    				<div class="col-md-4">
    					<select name="banco" id="banco" required>
    						<option value="0">Banco</option>
    					{% for banco in bancos %}<option value="{{ banco.id }}">
    						{{  banco.descripcion }}</option>
    					{% endfor %}</select>
    				</div>
    				<div class="col-md-4">
    					<select name="tipocheque" id="tipocheque" required>
    						<option value="0">Tipo Cheque</option>
    					{% for tipocheque in tipocheques %}
                            <option value="{{ tipocheque.id }}">
    						{{  tipocheque.descripcion }}
                            </option>
    					{% endfor %}
                        </select>
    				</div>
    				<div class="col-md-4">
    					<input placeholder="Fecha emisi&oacute;n" required name="fechaemision" class="datetimepicker" />
    				</div>
    				<div class="col-md-4">
    					<input placeholder="Fecha cobro" name="fechacobro" required class="datetimepicker" />
    				</div>
    				<div class="col-md-4"><input placeholder="Nro. Cheque" required name="nrocheque" /></div>
    				<div class="col-md-4"><input placeholder="Importe" required name="importe" /></div>
    				<div class="col-md-6"><input placeholder="Firmantes" required name="firmantes" /></div>
    				<div class="col-md-6"><input placeholder="Cuit" required name="cuit" /></div>
    			</div>
    		</div>
    		<div class="col-md-12" style="text-align: center; margin-top: 2%;">
                <input type="hidden" name="unidad" value="{{ unidadnegocio.id }}" />
                <button class="btn btn-info" type="submit">Crear</button>
                <a class="btn btn-default" href="{{path('cheque')}}">Volver</a>
    		</div>
        </form>
    </div>
<script>
	$(document).ready(function() {
		$( "input" ).addClass('form-control');
		$( "select" ).addClass('form-control');
	});
</script>
{% endblock %}
