{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cheque</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fechaemision</th>
                <td>{{ entity.fechaemision|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechacobro</th>
                <td>{{ entity.fechacobro|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Importe</th>
                <td>{{ entity.importe }}</td>
            </tr>
            <tr>
                <th>Nrocheque</th>
                <td>{{ entity.nrocheque }}</td>
            </tr>
            <tr>
                <th>Cuit</th>
                <td>{{ entity.cuit }}</td>
            </tr>
            <tr>
                <th>Firmantes</th>
                <td>{{ entity.firmantes }}</td>
            </tr>
            <tr>
                <th>Conciliacion</th>
                <td>{{ entity.conciliacion }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cheque') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cheque_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
