{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
	<h1 style="margin-bottom:10px;">
		Cuentas Bancarias
		<a style="float: right;" class="btn btn-default" href="{{ path('cuentabancaria_new') }}">
			Crear
		</a>
	</h1>
	<div class="tablasScroll">
		<table id="tablas" class="display">
			<thead>
				<tr>
					<th>Descripci&oacute;n</th>
					<th>Nro. Cuenta</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.descripcion }}</td>
					<td>{{ entity.nrocuenta }}</td>
					<td>
						<a class="btn btn-success" title="Editar" href="{{ path('cuentabancaria_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-info" title="Movimientos Bancarios" href="{{ path('cuentabancaria_movimientos', { 'id': entity.id }) }}"><i class="fa fa-list"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
    <script>
	
	activarActionsTab('cuentabancaria');
</script>
{% endblock %}
