{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
	<h1 style="margin-bottom:10px;">
		Cuenta Bancaria "{{entity.descripcion}} - {{entity.nrocuenta}}"
		<a style="float: right;" class="btn btn-default" href="{{ path('cuentabancaria') }}">
			Volver
		</a>        
        <button style="float: right;"  class="btn btn-info" data-toggle="modal" data-target="#myModal">
			Ajuste
        </button>
        <!-- Modal -->
        <div class="modal fade out" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
    				<form class="formModal" action="{{ path('cuentabancaria_ajuste', {id: entity.id}) }}" method="post">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            <h4 class="modal-title" id="myModalLabel">Ajuste Bancario</h4>
                        </div>
                        <div class="modal-body">
        					<div style="text-align: center;">
        						<strong>Ingrese el valor a Ajustar</strong>
			                    <input type="text" class="form-control" placeholder="Valor" name="valor" />                                        
            				{% if perfil == 'ADMINISTRADOR' %}							
            					<select class="form-control" name="unidadnegocio" style="width: 100%;">
            						<option value="0">Elegir Unidad</option>
            						{% for unidad in unidades %}
            							<option value="{{ unidad.id }}">{{ unidad.descripcion }}</option>
            						{% endfor %}
            				   </select>
            				{% endif %}
			                    <textarea class="form-control" placeholder="Observacion" name="observacion"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        					<input type="submit" class="btn btn-primary" value="Continuar" />
                        </div>
    				</form>
                </div>
            </div>
        </div>

	</h1>

	<div class="tablasScroll">
		<table class="display" id="tablas">
			<thead>
				<tr>
					<th>Fecha</th>
                    <th>ESTADO</th>
					<th>Tipo Movimiento</th>
					<th>Obs.</th>
					<th>Saldo</th>
				</tr>
			</thead>
			<tbody>
            {% set saldofinanciero = 0 %}
            {% set saldoreal = 0 %}
			{% for movimiento in movimientos %}
                {% if movimiento.tipoMovimiento == 'CH' %}
                    {% if movimiento.cheque.estado == 'C' %}
                        {% if movimiento.cheque.cuentaorigen %}
                            {% set saldofinanciero = saldofinanciero - movimiento.cheque.importe %}
                            {% set saldoreal = saldoreal - movimiento.cheque.importe %}
                        {% else %}
                            {% set saldofinanciero = saldofinanciero + movimiento.cheque.importe %}
                            {% set saldoreal = saldoreal + movimiento.cheque.importe %}
                        {% endif %}
                    {% else %}
                        {% set saldofinanciero = saldofinanciero + movimiento.cheque.importe %}
                    {% endif %}
                {% else %}
                    {% set saldofinanciero = saldofinanciero + movimiento.valor %}
                {% endif %}
				<tr>
					<td>{{ movimiento.fecha|date('Y-m-d') }}</td>
                    {% if movimiento.tipoMovimiento == 'CH' %}
                        {% if movimiento.cheque.estado == 'D' %}
                        <td style="color: green;">
                            DEPOSITADO
                        </td>
                        {% endif %}
                        {% if movimiento.cheque.estado == 'C' %}
                        <td style="color: blue;">
                            CONCILIADO
                        </td>
                        {% endif %}
        			{% else %}
                        <td style="color: black;">
                            AJUSTE
				        </td>
        			{% endif %}
					<td>
                        {% if movimiento.tipoMovimiento == 'CH' %}
                			CHEQUE {{ movimiento.cheque.id }}
            			{% else %}
                            AJUSTE {{ movimiento.id }}
            			{% endif %}
                    </td>
					<td>
                        {{movimiento.observacion}}
					</td>
					<td>
                    {% if movimiento.tipoMovimiento == 'CH' %}
                        {% if movimiento.cheque.estado == 'C' %}
                            {% if movimiento.cheque.cuentaorigen %}
                    			<span style="color: red;">- {{ movimiento.valor }}</span>
                			{% else %}
                    			{{ movimiento.valor }}
                			{% endif %}
            			{% else %}
                			{{ movimiento.valor }}
            			{% endif %}
        			{% else %}
            			{{ movimiento.valor }}
        			{% endif %}
                    </td>
				</tr>
			{% endfor %}
			</tbody>
            <tfoot style="font-weight: bold;">
               <td></td> 
               <td>Saldo Financiero TOTAL</td> 
               <td>$ {{saldofinanciero|round(2)}}</td> 
               <td>Saldo Real TOTAL</td> 
               <td>$ {{saldoreal|round(2)}}</td> 
            </tfoot>
		</table>
	</div>
<style>
</style>
{% endblock %}
