{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Ventas
                <a class="btn btn-primary" href="{{ path('factura_new') }}">
    				Registrar Venta
                </a>
			</h1>
		</div>
	</div>
	<div class="row filtro">
		<form id="searchForm" action="{{ path('factura_filtro') }}" method="GET">
			<div class="col-md-3">
				<input type="date" value="{{app.request.get('fechaDesde')}}" class="form-control" name="fechaDesde" placeholder="Fecha Desde">
			</div>
			<div class="col-md-3">
				<input type="date" value="{{app.request.get('fechaHasta')}}" class="form-control" name="fechaHasta" placeholder="Fecha Hasta">
			</div>
			<div class="col-md-4">
				<select name="listado" class="form-control">
					<option value="0">Elegir Cliente</option>
					{% for clienteProveedor in clientesProveedores %}
						<option {{app.request.get('listado') == clienteProveedor.id ? 'selected' : '' }} value="{{ clienteProveedor.id }}">
							{{ clienteProveedor.razonSocial }}
						</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary" style="margin-top:2px" type="submit">
					Buscar
				</button>
			</div>
		</form>
	</div>
	<hr>
	<div class="tablasScroll">
		<table id="tablaSF" class="display">
			<thead>
				<tr>
					<th>Fecha</th>
					<th class="{{ usuario.perfil == 'ADMINISTRADOR' ? '' : 'hidden' }}">Unidad</th>
					<th>Factura</th>
					<th>Cliente</th>
					<th>Importe</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.fecha|date('Y-m-d') }}</td>
					<td class="{{ usuario.perfil == 'ADMINISTRADOR' ? '' : 'hidden' }}">{{ entity.unidadnegocio }}</td>
					<td>
                        {% if entity.nrofactura %}
                        	<a href="{{ path('factura_show', { 'id': entity.id, 'tipo':'F'}) }}">FACTURA {{entity.tipofactura }} - N° {{ entity.nrofactura|default(entity.id) }}</a> - P.V.: {{ entity.ptovta }}
                        {% else %}
	                        <a style="color: red;" href="{{ path('factura_show', { 'id': entity.id, 'tipo':'F'}) }}">
								FACTURA {{entity.tipofactura }} - N°:  {{ entity.nrofactura|default(entity.id) }}
							</a> - P.V.: {{ entity.ptovta }}
							-
							<a class="btn btn-default" href="{{ path('factura_refacturar', { 'id': entity.id}) }}">
								<i class="fa fa-spin fa-refresh"></i>
							</a>
							{% if usuario.perfil == 'ADMINISTRADOR' %}
							-
							<a class="btn btn-danger" href="{{ path('factura_delete', { 'id': entity.id}) }}" title="Anular">
								<i class="fa fa-times"></i>
							</a>
							{% endif %}
                        {% endif %}
                    </td>
					<td>
						<a title="Ir a la Cuenta Corriente" data-toggle="tooltip" data-placement="left" href="{{ path('clienteproveedor_cc', { 'id': entity.clienteproveedor.id }) }}">
							{{ entity.clienteproveedor|default("") }}
						</a>
					</td>
					<td>
    					$ {{ entity.importe }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-sm-12">
		{{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
	</div>
<script>

</script>
<style>
.active .btn
{
    background-color: #9E9E9E;
}
ul
{
	list-style: none;
}
</style>

{% endblock %}
