{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
    <div id="imprimir">
        <header style="width: 100%; text-align:center;">
            <table id="content" class="display" cellspacing="0" width="100%" style="border:  1px solid;margin-top: 1%;">
                <thead>
                    <tr style="">
                        <th colspan="2" style="width: 40%;">
                            <img src="{{asset('bundles/logo.jpeg')}}" style="height: 7em;margin-left: 25%;" />
                        </th>
                        <th style="border:  1px solid;" colspan="2">
                            <span style="text-align: center;font-size: 60px;">{{entity.tipofactura}}</span> <br /> <span style="font-size: 14px;">cod. {{nrocomprobante}}</span>
                        </th>
                        <th colspan="2" style="font-size: 28px; width: 40%;padding-right: 10%;">FACTURA</th>
                    </tr>
                    <tr>
                        <th colspan="3" style="border-right: 1px solid;width:50%;">
                            <span style="font-weight: bold;font-size: 1.4em;">{{empresa_razonsocial|title}}</span><br/>
                            <span style="font-size: 0.9em;">{{empresa_de}}</span>
                        </th>
                        <th colspan="3" style="width:50%;">Punto Vta: {{entity.ptovta}} - Comp. Nro: <span style="font-weight: normal;">{{entity.nrofactura }}</span></th>
                    </tr>
                    <tr>
                        <th colspan="3" style="border-right: 1px solid;width:50%;">
                            <span style="font-weight: normal;"> {{entity.unidadNegocio.direccion}}</span>
                        </th>
                        <th colspan="3" style="width:50%;">CUIT: <span style="font-weight: normal;">{{entity.unidadNegocio.cuit}}</span></th>
                    </tr>
                    <tr>
                        <th colspan="3"  style="border-right: 1px solid;width:50%;">
                            IVA: <span style="font-weight: normal;">Responsable Inscripto</span>
                        </th>
                        <th colspan="3" style="width:50%;">Ingresos Brutos:<span style="font-weight: normal;">{{entity.unidadNegocio.iibb}}</span></th>
                    </tr>
                    <tr style="border-bottom: 1px solid;">
                        <th colspan="3" style="border-right: 1px solid;width:50%;">
                            Fecha de Emisi&oacute;n: <span style="font-weight: normal;">{{entity.fecha|date('d/m/Y')}}</span>
                        </th>
                        <th colspan="3" style="width:50%;">
                            Fecha de Inicio de Actividades: <span style="font-weight: normal;">12/08/1995</span>
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3">Apellido y Nombre / Raz&oacute;n Social: <span style="font-weight: normal;">{{entity.clienteproveedor.razonSocial }}</span></th>
                        <th colspan="3" style="">
                            {% if entity.clienteproveedor.cuit %}
                                CUIT: <span style="font-weight: normal;">{{entity.clienteproveedor.cuit}}</span>
                            {% else %}
                                DNI: <span style="font-weight: normal;">{{entity.clienteproveedor.dni}}</span>
                            {% endif %}
                        </th>
                    </tr>
                    <tr>
                        <th colspan="3" style="">
                            IVA: <span style="font-weight: normal;">{{entity.clienteproveedor.condicionIva}}</span>
                        </th>
                        <th colspan="3">
                            Domicilio:
                            <span style="font-weight: normal;">
                                {{entity.sucursal.direccion}}
                            </span>
                        </th>
                    </tr>
                    <tr style="border-bottom: 1px solid;">
                        <th colspan="3" style="">
                            Condici&oacute;n de Venta: <span style="font-weight: normal;">Contado</span>
                        </th>
                        <th colspan="3" style="">
                        </th>
                    </tr>
                </thead>
            </table>
        </header>

        <table id="content" class="display" cellspacing="0" width="100%" style="border:  1px solid;margin-top: 1%;">
            <thead>
                <tr style="border-bottom: 1px solid;">
                    <th>C&oacute;digo</th>
                    <th style="width: 25%;">Desc.</th>
                    <th>Cantidad</th>
                    <th>Precio U.</th>
                    <th colspan="2">Sub. Total</th>
                </tr>
            </thead>
            <tbody>
                {% set length = 0  %}
                {% for prodFact in entity.productosFactura %}
                    {% set length = loop.length  %}
                    <tr style="height: 22px">
                        <td>
                            {{ prodFact.stock.producto.codigo }}
                        </td>
                        <td>
                            {{ prodFact.stock.producto.descripcion }}
                        </td>
                        <td>
                            {{ prodFact.cantidad }}
                        </td>
                        <td>
                            {{ prodFact.precio }}
                        </td>
                        <td colspan="2">
                            {{ prodFact.precio * prodFact.cantidad }}
                        </td>
                    </tr>
                {% endfor %}
                {% if length < 17 %}
                    {% set numero = 17 - length %}
                    {% for i in 0..numero %}
                        <tr style="height: 22px">
                            <td colspan="6">
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <footer>
            <table id="content" class="display" cellspacing="0" width="100%" style="border:  1px solid;margin-top: 1%;">
                <tfoot>
                    <tr style="border-bottom: 1px solid;">
                        <th colspan="3">
                        </th>
                        <th style="text-align: right;font-size: 16px;">
                            Total:
                        </th>
                        <th style="border-right: 1px solid;">
                            $ {{ entity.importe|number_format(2) }}
                        </th>
                    </tr>
					<tr style="">
						<th colspan="3">
							<img src="{{ asset('barcode/html/image.php?filetype=PNG&dpi=72&scale=1&rotation=0&font_family=Arial.ttf&font_size=8&text=' ~ codigobarras ~ '&thickness=20&checksum=&code=BCGcode128')}}" />
						</th>
						<th style="text-align: right;font-size: 16px;">
							CAE N&#186;:
						</th>
						<th>
							{{entity.cae}}
						</th>
					</tr>
                    {% if entity.cae == '' or entity.observacion is not empty  %}
                        <tr style="border-bottom: 1px solid;">
                            <th colspan="5" style="border-top: 1px solid;">
                                {{entity.observacion}}
                            </th>
                        </tr>
                    {% endif %}
                </tfoot>
            </table>
        </footer>
    </div>
    <div id="oculto" style="text-align: center; margin-top: 2em; margin-bottom: 2em;">
        <a class="btn btn-info" onclick="document.title = 'FACTURA B - {{ entity.nrofactura }}';imprSelec()">
            <i class="fa fa-file"></i> Imprimir
        </a>
        <a class="btn btn-warning" href="{{ path('factura') }}">
            <i class="fa fa-arrow-left"></i>  Volver
        </a>
    </div>

    <script language="Javascript">
        function imprSelec() {
            window.print();
        }
    </script>
    <style>
        @media print {
            @page { margin: 0cm; }
            body { margin: 1cm 0cm; }
            .content { padding: 0px; }
            #oculto { display: none; }
        }

        #page-wrapper {
            padding: 0px;
            margin: 0px !important;
        }

        .sidebar {
            display: none;
        }

        thead th, thead td {
            padding: 0.2em;
        }

        footer th {
            padding: 5px 0px;
        }

        footer img {
            margin: 5px 0px;
        }
    </style>

{% endblock %}
