<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Sistemas Titanio" />
	<meta name="description" content="Sistemas Titanio" />
    <meta name="author" content="">

    <title>TITANIO</title>

	<!-- DATA TABLE -->
	<script type="text/javascript" src="{{ asset('bundles/DataTable/jquery-1.11.3.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/DataTable/jquery.dataTables.min.js') }}"></script>
	<link rel="stylesheet" href="{{ asset('bundles/DataTable/jquery.dataTables.css') }}">

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bundles/nuevo/bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ asset('bundles/nuevo/bower_components/metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('bundles/nuevo/dist/css/sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('bundles/nuevo/bower_components/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('bundles/nuevo/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ asset('bundles/nuevo/bower_components/metisMenu/dist/metisMenu.min.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('bundles/nuevo/dist/js/sb-admin-2.js') }}"></script>
	<!-- Datepicker -->
	<link rel="stylesheet" href="{{ asset('bundles/datetimepicker/jquery.datetimepicker.css') }}">
	<script src="{{ asset('bundles/datetimepicker/jquery.datetimepicker.js') }}"></script>

	<link  href="{{ asset('bundles/joyas/img/favicon.ico') }}" rel="icon" type="image/x-icon" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
		var table;
		var tableSF;
		$(document).ready(function (){
			$('#print').click(function () {
				window.print();
			});
			$("input").attr("autocomplete", "off");
			$('.pagination li').css('float', 'left');
			$('.pagination a').addClass("btn btn-default");
			$("button[type='submit']").click(function(){
				if($('form')[0].checkValidity() == true){
					$("button[type='submit']").addClass('hidden');
				}
			});

			$("select, input[type='text'], input[type='number'], input[type='date']").addClass('form-control');
			$("h1 a:first").addClass('btn btn-primary').css('float', 'right');

		    table = $('#tablas').DataTable( {
											"scrollY":        "400px",
											"scrollX":        true,
											"scrollCollapse": true,
											"paging":         false,
											"info": 		  false,
											"responsive": 	  true,
											"filter": 		  true,
											"order": 		  [[ 0, "asc" ]],
											"oLanguage": {
												"sSearch": "Buscar:"
											}
										} );
		    table = $('#tablapedidos').DataTable( {
											"scrollY":        "400px",
											"scrollX":        true,
											"scrollCollapse": true,
											"paging":         false,
											"info": 		  false,
											responsive: 	  true,
											"filter": 		  true,
											"order": 		  [[ 0, "desc" ]],
											"oLanguage": {
												"sSearch": "Buscar:"
											}
										} );

		    tableSF = $('#tablaSF').DataTable( {
											"scrollY":        "400px",
											"scrollCollapse": true,
											"scrollX":        true,
											"paging":         false,
											"info": 		  false,
											responsive: 	  true,
											"filter": 		  false,
											"order": 		  [[ 0, "desc" ]]
										} );

			$("#fechavencimiento").datetimepicker({
				format: 'd-m-Y'
			});
			$("#fechaDocumento").datetimepicker({
				format: 'd-m-Y'
			});
			$("#fechaDesde").datetimepicker({
				format: 'd-m-Y'
			});
			$("#fechaHasta").datetimepicker({
				format: 'd-m-Y'
			});

			$("#fechaVencimientoDesde").datetimepicker({
				format: 'd-m-Y'
			});
			$("#fechaVencimientoHasta").datetimepicker({
				format: 'd-m-Y'
			});

			$(".datetimepicker").datetimepicker({
				format: 'Y-m-d'
			});

			$('[data-toggle="tooltip"]').tooltip();
		});

		$( window ).resize( function() {
			$('#tablas').DataTable().columns.adjust().draw();
			$('#tablaSF').DataTable().columns.adjust().draw();
		});
		$(window).load(function(){
			$('.preloader').fadeOut(1000); // set duration in brackets
		});

	</script>
	{% block stylesheet %}{% endblock %}
	<link rel="stylesheet" href="{{ asset('bundles/style.css') }}">
</head>

<body>
    {% set usuario = app.session.get('usuario') %}
    {% set unidad = app.session.get('unidad') %}
	{% set login = app.session.get('login') %}

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('joyas_joyas_inicio')}}">
					<img width="110px" src="{{ asset('bundles/logotitanio.png') }}" />
				</a>
            </div>
			{% if login == true %}
			{% set perfil = usuario.perfil %}
            <ul class="nav navbar-top-links navbar-right">
                {#<li class="">#}
					{#<a href="#" target="_blanck">#}
					  {#<i class="fa fa-envelope"></i>#}
					{#</a>#}
                {#</li>#}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
					  {{ usuario.login }}<i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{{ path('usuario_edit', {id : usuario.id}) }}"><i class="fa fa-gear fa-fw"></i>Mis Datos</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{ path('joyas_joyas_cerrarSession') }}"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesi&oacute;n</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
			{% endif %}

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
					{% if login == true %}
						<li>
                            <a href="#"><i class="fa fa-briefcase fa-fw"></i> Productos <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
								<li>
									<a href="{{ path('producto') }}">
										Productos
									</a>
								</li>
								{% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR'  %}
								<li>
									<a href="{{path('pedido')}}">
										Transferencia de Stock - Pedidos
									</a>
								</li>
								{% endif %}
                            </ul>
						</li>
						<li class="dropdown">
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i>GESTI&Oacute;N<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Gesti&oacute;n Comercial <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
										<li id="ventas">
											<a href="{{ path('factura') }} ">
												Ventas
											</a>
										</li>
										<li id="compras">
											<a href="{{ path('facturaproveedor') }} ">
												Compras
											</a>
										</li>
										<li id="cobranzas">
											<a href="{{path('cobranza')}}">
												Cobranzas
											</a>
										</li>
										<li id="pagos">
											<a href="{{path('pago')}}">
												Pagos
											</a>
										</li>
										<li id="gastos">
											<a href="{{path('gasto')}}">
												Gastos
											</a>
										</li>
                                   </ul>
                                </li>
                                <li>
                                    <a href="#">Gesti&oacute;n de Valores <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
										<li class="hidden">
											<a href="#">
												Administraci&oacute;n de Caja
											</a>
										</li>
        								<li>
											<a href="{{ path('cheque') }}">
        										Cheques
        									</a>
        								</li>
										{% if perfil == 'ADMINISTRADOR' %}
											<li>
												<a href="{{ path('cuentabancaria') }}">
													Cuentas Corrientes Bancarias
												</a>
											</li>
										{% endif %}
                                   </ul>
                                </li>
                                <li>
                                    <a href="{{ path('clienteproveedor') }}">Cliente / Proveedor</a>
                                </li>
                            </ul>
						</li>
						{% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR'  %}
						<li class="hidden">
                            <a href="#"><i class="fa fa-file-excel-o fa-fw"></i> Cargas Masivas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
								<li id="cargamasiva">
									<a href="{{ path('joyas_joyas_cargamasiva') }}">
										Carga Masiva de Productos
									</a>
								</li>
								<li id="cargafacturas">
									<a href="{{ asset('bundles/templateImport.xlsx') }}">
										Descarga excel p/importaci&oacuten
									</a>
								</li>
                            </ul>
						</li>
						<li class="dropdown">
                            <a href="#"><i class="fa fa-info-circle fa-fw"></i> Informes <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Informes de Cuentas <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
										<li id="informecuentascobrar">
											<a href="#">
												Informe de Cuentas por Cobrar
											</a>
										</li>
										<li id="informecuentaspagar">
											<a href="#">
												Informe de Cuentas por Pagar
											</a>
										</li>
									</ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Informes Estad&iacute;sticos <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
										<li id="informeventas">
											<a href="#">
												Informe Estad&iacute;stico de Ventas
											</a>
										</li>
										<li id="informecompras">
											<a href="#">
												Informe Estad&iacute;stico de Compras
											</a>
										</li>
										<li id="informecobranzas">
											<a href="#">
												Informe Estad&iacute;stico de Cobranzas
											</a>
										</li>
										<li id="informegastos">
											<a href="#">
												Informe Estad&iacute;stico de Gastos
											</a>
										</li>
										<li id="informepagos">
											<a href="#">
												Informe Estad&iacute;stico de Pagos
											</a>
										</li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Informes de Impuestos <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
										<li>
											<a href="#">
												Informe de Retenciones
											</a>
										</li>
										<li>
											<a href="#">
												Informe CITI Compras
											</a>
										</li>
										<li>
											<a href="#">
												Informe CITI Ventas
											</a>
										</li>
										<li>
											<a href="#">
												Informe IVA Compras
											</a>
										</li>
										<li>
											<a href="#">
												Informe IVA Ventas
											</a>
										</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Informes de Productos <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
										<li id="informestock">
											<a href="#">
												Informe de Stock de Productos
											</a>
										</li>
										<li id="listaactualizacion">
											<a href="#">
												Lista p/actualizaci&oacute;n Masiva (Precios y Stock)
											</a>
										</li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
						</li>
						{% endif %}
						{% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
						<li>
                            <a href="#"><i class="fa fa-list-alt fa-fw"></i> Param&eacute;tricas<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
    						{% if perfil == 'ADMINISTRADOR' %}
							<li>
								<a href="{{ path('banco') }}">
									Bancos
								</a>
							</li>
    						{% endif %}
							<li>
								<a href="{{ path('categoria') }}">
									Categor&iacute;as
								</a>
							</li>
							<li>
								<a href="{{ path('subcategoria') }}">
									Subcategor&iacute;as
								</a>
							</li>
							<li>
								<a href="{{ path('marca') }}">
									Marca
								</a>
							</li>
							<li>
								<a href="{{ path('medio') }}">
									Medios
								</a>
							</li>
							<li>
								<a href="{{ path('origen') }}">
									Origen
								</a>
							</li>
							<li>
								<a href="{{ path('rubro') }}">
									Rubro
								</a>
							</li>
						{% if perfil == 'ADMINISTRADOR' %}
							<li>
								<a href="{{ path('tipogasto') }}">
									Gastos
								</a>
							</li>
							<li>
								<a href="{{ path('tipopercepcion') }}">
									Tipos de Percepciones
								</a>
							</li>
							<li>
								<a href="{{ path('tiporetencion') }}">
									Tipos de Retenciones
								</a>
							</li>
							<li>
								<a href="{{ path('tipocheque') }}">
									Tipos de Cheques
								</a>
							</li>
						{% endif %}
                            </ul>
						</li>
						{% endif %}
						<li>
                            <a href="#"><i class="fa fa-lock fa-fw"></i> Seguridad<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
								<li id="usuario">
									<a href="{{ path('usuario') }}">
										Usuarios
									</a>
								</li>
							{% if perfil == 'ADMINISTRADOR' %}
								<li id="unidades">
									<a href="{{ path('unidadnegocio') }}">
										Unidades de Negocio
									</a>
								</li>
							{% endif %}
                            </ul>
						</li>
	                {% endif %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
		{% if login == false %}
        <div id="page-wrapper" style="margin: 0 0 0 0;">
		{% else %}
        <div id="page-wrapper">
		{% endif %}
            <div class="container">
				<div class="row" >
				  {% for flashMessage in app.session.flashbag.get('msgError') %}
					<div class="col-sm-6 col-sm-offset-3" >
						<div class="alert alert-block fade in alert-error text-center">
						 	<button type="button" class="close" data-dismiss="alert">&times;</button>
							<h4>{{ flashMessage }}</h4>
					 	</div>
					 </div>
				  {% endfor %}
				  {% for flashMessage in app.session.flashbag.get('msgWarn') %}
					<div class="col-sm-6 col-sm-offset-3" >
						<div class="alert alert-block fade in alert-warning text-center">
						  <button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4>{{ flashMessage }}</h4>
					  </div>
					  </div>
				  {% endfor %}
				  {% for flashMessage in app.session.flashbag.get('msgOk') %}
					<div class="col-sm-6 col-sm-offset-3" >
						<div class="alert alert-block fade in alert-success text-center">
						  <button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4>{{ flashMessage }}</h4>
					  </div>
					  </div>
				  {% endfor %}
				  {% for flashMessage in app.session.flashbag.get('msgInfo') %}
					<div class="col-sm-6 col-sm-offset-3" >
						<div class="alert alert-block fade in alert-info text-center">
						  <button type="button" class="close" data-dismiss="alert">&times;</button>
						<h4>{{ flashMessage }}</h4>
					  </div>
					  </div>
				  {% endfor %}
				</div>
				<div class="preloader">
					<div class="fa fa-cog fa-spin fa-3x fa-fw"></div>
				</div>
				{% block content %}

				{% endblock %}
				{% block body %}

				{% endblock %}
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>

</html>
