{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Edición de {{entity.descripcion}}
		<a class="btn btn-default" style="float:right;" href="{{ app.request.headers.get('referer') }}">
			Volver
		</a>
	</h1>
	<div class="col-md-12 gestion">
		{{ form(edit_form) }}
	</div>
<script>
	$('document').ready(function(){
		$('#joyas_joyasbundle_producto div').addClass('col-sm-4');
		cargarsubcategoria();
	});

	$('#joyas_joyasbundle_producto_categoria').change(function () {
		cargarsubcategoria();
	});

	function cargarsubcategoria() {
		$('#joyas_joyasbundle_producto_subcategoria').html("");
		$.post( '{{path('subcategoria_listadojson')}}', { id_categoria: $('#joyas_joyasbundle_producto_categoria').val() })
			.done(function( data ) {
				var subcategorias = JSON.parse(data);
				$.each(subcategorias, function (key, value) {
					$('#joyas_joyasbundle_producto_subcategoria').append('<option value="'+value.id+'">'+value.descripcion+'</option>');
					$('#joyas_joyasbundle_producto_subcategoria').val('{{ entity.subcategoria.id|default('') }}');
				});
			});
	}

</script>
<style>
	.col-sm-4{
		text-align: center;
		margin-top: 2%;
	}
</style>
{% endblock %}
