{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Listado de Productos
		<a class="btn btn-primary" style="float:right;" href="{{ path('producto_new') }}">
			Crear
		</a>
	</h1>
	<hr />
	<div class="row	" style="margin-bottom: 5px;">
		<form autocomplete="off" action="{{path('producto')}}" method="GET">
			<div class="col-sm-4">
				<label>Códigos: Interno, Original, Fábrica, Proveedor</label>
				<input type="text" id="codigo" name="codigo" placeholder="Codigo" autocomplete="off" value="{{app.request.get('codigo')}}" onkeyup="predictiva(this.value);"/>
				<div id="sugerencia"></div>
			</div>
			<div class="col-sm-4">
				<label>Categoría</label>
				<select name="categoria" id="categoria">
					<option value="">Seleccionar..</option>
					{% for categoria in categorias %}
						<option value="{{categoria.id}}" {{ categoria.id == app.request.get('categoria') ? 'selected': '' }}>{{categoria.descripcion}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-sm-4">
				<label>Subcategoría</label>
				<select name="subcategoria" id="subcategoria">
					<option value="">Seleccionar..</option>
				</select>
			</div>
			<div class="col-md-3 hidden">
				<label>Rubro</label>
				<select name="rubro" id="rubro">
					<option value="">Seleccionar..</option>
					{% for rubro in rubros %}
					<option value="{{rubro.id}}">{{rubro.descripcion}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-3">
				<label>Marca Auto</label>
				<select name="marcaauto" id="marcaauto">
					<option value="">Seleccionar..</option>
					{% for marca in marcas %}
					<option value="{{marca.id}}">{{marca.descripcion}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-3">
				<label>Modelo Auto</label>
				<input type="text" name="modelo" placeholder="Modelo" value="{{app.request.get('modelo')}}" />
			</div>
			<div class="col-md-3">
				<label>Marca Respuesto</label>
				<input type="text" name="marcarepuesto" placeholder="Marca Respuesto" value="{{app.request.get('marcarepuesto')}}" />
			</div>
			<div class="col-md-3">
				<label>Nombre Respuesto</label>
				<input type="text" name="descripcion" placeholder="Nombre Respuesto" value="{{app.request.get('descripcion')}}" />
			</div>
			<div class="col-md-4 text-left">
				<button type="submit" id="buscar" class="btn btn-info" style="margin-top: 1em;">Buscar</button>
			</div>
		</form>
	</div>
	<hr />
	<div class="gestion">
		<table class="display" id="tablaproducto">
			<thead>
				<tr>
					<th>Código</th>
					<th>Cód. Original</th>
					<th>Cód. Proveedor</th>
					<th>Categoría</th>
					<th>Marca Auto</th>
					<th>Modelo Auto</th>
					<th>Nombre</th>
					<th>Stock</th>
					<th>Precio</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.codigo }}</td>
					<td>{{ entity.codigooriginal }}</td>
					<td>{{ entity.nrofabrica }}</td>
					<td>{{ entity.subcategoria.categoria|default('') }}</td>
					<td>{{ entity.marca }}</td>
					<td>{{ entity.modelo }}</td>
					<td><a href="{{ path('producto_show', { 'id': entity.id }) }}"><i class="fa fa-search"></i> {{ entity.descripcion }}</a></td>
					<td>{{ entity.stock }}</td>
					<td>${{ entity.precio }}</td>
					<td>
					{% if entity.estado == 'A' %}
						<a class="btn btn-info btn-xs" href="{{ path('stock', { 'id': entity.id }) }}" title="Manejo de Stock"><i class="fa fa-plus"></i></a>
						<a class="btn btn-success btn-xs" href="{{ path('producto_edit', { 'id': entity.id }) }}" title="Editar"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-danger btn-xs" href="{{ path('producto_delete', { 'id': entity.id }) }}" title="Borrar"><i class="fa fa-times"></i></a>
					{% else %}
						<a class="btn btn-primary btn-xs" href="{{ path('producto_activar', { 'id': entity.id }) }}" title="Activar">Activar</a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<script>
	tablaproducto = $('#tablaproducto').DataTable( {
									"scrollY":        "400px",
									"scrollCollapse": true,
									"scrollX":        true,
									"paging":         false,
									"ordering":       false,
									"info": 		  false,
									responsive: 	  true,
									"filter": 		  false,
									"order": 		  [[ 0, "asc" ]]
								} );
	$(document).ready(function() {
		{% if app.request.get('marcaauto') %}
			$('#marcaauto').val('{{app.request.get('marcaauto')}}');
		{% endif  %}
		{% if app.request.get('rubro') %}
			$('#rubro').val('{{app.request.get('rubro')}}');
		{% endif  %}
		$('#sugerencia').addClass("hidden");
		if($('#categoria').val()!=''){
			cargarsubcategoria();
		}
	});
	function predictiva(valor){
		$.post( '{{path('producto_predictiva')}}', { data: valor })
			.done(function( data ) {
				$('#sugerencia').removeClass("hidden").html(data);
				$('.suggest-element').on('click', function(){
					var id = $(this).attr('id');
					var codigo = $(this).attr('codigo');
					$('#codigo').val(codigo);
					$('#sugerencia').addClass("hidden");
					$('#buscar').click();
                });
			});
	}
	$('#codigo').blur(function(){
		if($('#codigo').val()==''){
			$('#sugerencia').addClass("hidden");
		}
	});

	$('#categoria').change(function () {
		cargarsubcategoria();
	});

	function cargarsubcategoria() {
		if($('#categoria').val()==''){$('#subcategoria').html("");$('#subcategoria').append('<option value="">Seleccionar..</option>');}
		$.post( '{{path('subcategoria_listadojson')}}', { id_categoria: $('#categoria').val() })
				.done(function( data ) {
					var subcategorias = JSON.parse(data);
					$('#subcategoria').html("");
					$('#subcategoria').append('<option value="">Seleccionar..</option>');
					$.each(subcategorias, function (key, value) {
						$('#subcategoria').append('<option value="'+value.id+'">'+value.descripcion+'</option>');
					});
					$('#subcategoria').val('{{ app.request.get('subcategoria') }}');
				});
	}

  </script>
  <style>
	#sugerencia
	{
	    z-index: 1000;
		position: absolute;
		width: 100%;
		height: 100px;
		background: white;
		border: 0.1px solid #b3b3b3;
		overflow-y: auto;
	}
  </style>
{% endblock %}
