{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block body -%}
    <h1>
		{{entity.codigo}} - {{entity.descripcion}}
		<a class="btn btn-success" style="float:right;" href="{{ path('producto_edit', {id:entity.id}) }}">
			Editar
		</a>
		<a class="btn btn-default" style="float:right;" href="{{ app.request.headers.get('referer') }}">
			Volver
		</a>
	</h1>
    <div class="gestion col-md-8 col-md-offset-2">
		<table class="table">
			<tbody>
				<tr>
					<th>Rubro</th>
					<td>{{ entity.rubro }}</td>
				</tr>
				<tr>
					<th>Categor&iacute;a</th>
					<td>{{ entity.subcategoria.categoria|default('N/A') }}</td>
				</tr>
				<tr>
					<th>Subategor&iacute;a</th>
					<td>{{ entity.subcategoria|default('N/A') }}</td>
				</tr>
				<tr>
					<th>Descripción</th>
					<td>{{ entity.descripcion|nl2br }}</td>
				</tr>
				<tr>
					<th>Marca del Auto</th>
					<td>{{ entity.marca }}</td>
				</tr>
				<tr>
					<th>Modelo del Auto</th>
					<td>{{ entity.modelo }}</td>
				</tr>
				<tr>
					<th>Característica</th>
					<td>{{ entity.caracteristica }}</td>
				</tr>
				<tr>
					<th>Origen</th>
					<td>{{ entity.origen }}</td>
				</tr>
				<tr>
					<th>Año</th>
					<td>{{ entity.anio }}</td>
				</tr>
				<tr>
					<th>Codigo Original</th>
					<td>{{ entity.codigooriginal }}</td>
				</tr>
				<tr>
					<th>Cod. Proveedor</th>
					<td>{{ entity.nrofabrica }}</td>
				</tr>
				<tr>
					<th>Nro. Fabricación</th>
					<td>{{ entity.nrofabricacion }}</td>
				</tr>
				<tr>
					<th>Stocks</th>
					<td>
						<ul style="list-style: none;padding-left: 0;">
						{% for stock in entity.stocks if stock.stock > 0 %}
							<li>{{stock}} {% if perfil == 'ADMINISTRADOR' %}- ${{stock.costo}} {% endif %}</li>
						{% endfor %}
						</ul>
					</td>
				</tr>
				<tr>
					<th>Precio</th>
					<td>{{ entity.precio }}</td>
				</tr>
				<tr>
					<th>Tipo IVA</th>
					<td>{{ entity.tipoiva }}</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
