{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
<h1>Cuenta Corriente "{{entity.razonSocial }}"</h1>
<div class="row text-center oculto">
	<hr />
	{% if perfil == 'ADMIN' or perfil == 'ADMINISTRADOR' %}
	<div class="col-md-4">
		<a class="btn btn-primary" target="_blank" href="{{ path('notacreditodebito_new', {id_clienteproveedor: entity.id, tipo: 'debito'}) }}">
			N. D&eacute;bito
		</a>
		<a class="btn btn-success" target="_blank" href="{{ path('notacreditodebito_new', {id_clienteproveedor: entity.id, tipo: 'credito'}) }}">
			N. Cr&eacute;dito
		</a>
	</div>
	{% endif %}
	<div class="col-md-4">
		<button style="margin-left: -5px;" class="btn btn-info" id="print">
			Imprimir
		</button>
		{% if entity.clienteproveedor == '1' %}
		<button class="btn btn-warning" id="cobrarseleccionados">
			Cobrar seleccionados
		</button>
		{% else %}
		<button class="btn btn-warning" id="pagarseleccionados">
			Pagar seleccionados
		</button>
		{% endif %}
	</div>
	<div class="col-md-4">
		<a style="margin-left: -5px;" class="btn btn-default" href="{{ 'clienteproveedor' in app.request.headers.get('referer') ? app.request.headers.get('referer') : path('clienteproveedor') }}">
			Volver
		</a>
		{#<a style="margin-left: -5px;" class="btn btn-default" href="{{ app.request.headers.get('referer') }}">#}
			{#Volver#}
		{#</a>#}
	</div>
</div>
<hr/>
<div class="row" style="margin-top: 1em;">
	<div class="col-md-12">
		<form action="{{ path('clienteproveedor_cc', {id: entity.id}) }}" method="GET">
			<div class="col-md-3">
				<input type="date" value="{{app.request.get('desde')}}" class="form-control" name="desde" placeholder="Fecha Desde">
			</div>
			<div class="col-md-3">
				<input type="date" value="{{app.request.get('hasta')}}" class="form-control" name="hasta" placeholder="Fecha Hasta">
			</div>
			<div class="col-md-4 hidden">
				<select name="tipo_movimiento" class="form-control">
						<option {{app.request.get('tipo_movimiento') == 'TODOS' ? 'selected' : '' }} value="TODOS">
							TODOS
						</option>
						<option {{app.request.get('tipo_movimiento') == 'COMPENSADO' ? 'selected' : '' }} value="COMPENSADO">
							COMPENSADO
						</option>
						<option {{app.request.get('tipo_movimiento') == 'SIN COMPENSAR' ? 'selected' : '' }} value="SIN COMPENSAR">
							SIN COMPENSAR
						</option>
				</select>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary" style="margin-top:2px" type="submit">
					Buscar
				</button>
			</div>
		</form>
	</div>
</div>
<hr />

<div class="row">
	<div class="col-md-12">
		<form method="POST" action="{{ path(entity.clienteproveedor == '1' ? 'cobranza_new' : 'pago_new') }}" id="formCuentas">
			<table class="table table-bordered table-striped" >
				<thead>
					<tr>
						<th></th>
						<th>Fecha</th>
						<th>Documento</th>
						<th>Doc. Asociado</th>
						<th style="text-align: right;">Importe</th>
					</tr>
				</thead>
				<tbody>
					{% set saldo = 0 %}
					{% for pagoasignacion in movimientos %}
					<tr>
						<td>
							{% if pagoasignacion.documento.tipo == 'factura' or  pagoasignacion.documento.tipo == 'facturaproveedor' %}
							<input type="checkbox" name="idfacturas[]" value="{{ pagoasignacion.documento.entity.id }}" />
							{% endif %}
						</td>
						<td>{{ pagoasignacion.fecha|date('d-m-Y') }}</td>
						<td>
							<a target="_blank" href="{{ path(pagoasignacion.documento.tipo|lower~'_show', {id: pagoasignacion.documento.entity.id}) }}">
								{{ pagoasignacion.documento.entity|upper }}
							</a>
						</td>
						<td>
							{#Puedo hacer esto por la entidad factura tiene ambas relaciones#}
							{% if pagoasignacion.documento.tipo == 'factura' or  pagoasignacion.documento.tipo == 'facturaproveedor' %}
								{% for cobranzafactura in pagoasignacion.documento.entity.cobranzasfactura %}
									<a target="_blank" href="{{ path('cobranza_show', {id: cobranzafactura.cobranza.id}) }}">
										{{ cobranzafactura.cobranza }}
									</a>
								{% endfor %}
								{% for pagofactura in pagoasignacion.documento.entity.pagosfactura %}
									<a target="_blank" href="{{ path('pago_show', {id: pagofactura.pago.id}) }}">
										{{ pagofactura.pago }}
									</a>
								{% endfor %}
							{% endif %}
						</td>
						<td style="text-align: right;">
							{% if pagoasignacion.documento.positivo %}
							<span style="color:green;"> +
							{% set saldo = saldo + pagoasignacion.importe %}
							{% else %}
							<span style="color:red;"> -
							{% set saldo = saldo - pagoasignacion.importe %}
							{% endif %}
								{{ pagoasignacion.importe|number_format(2, '.', ',') }}
							</span>
						</td>
					</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th colspan="5" style="text-align:right;">
							SALDO FINAL $ {{ (entity.saldo + saldos.cobranzas + saldos.notacredito + saldos.notadebito - saldos.facturas + saldos.facturasproveedor - saldos.gastos - saldos.pagos)|number_format(2, '.', ',') }}
						</th>
					</tr>
				</tfoot>
			</table>
		</form>
	</div>
</div>

<script>
	$(document).ready(function(){
		$("#tablasScroll").animate({ scrollTop: $("#tablasScroll table").height() }, 600);
		$('td').css('padding', '2px');
		$("#cobrarseleccionados, #pagarseleccionados").click(function(){
			var checked = false;
			$('input[type=checkbox]').each(function () {
				if(this.checked){
					checked = true;
				}
			});
			if(checked){
				$("#formCuentas").submit();
			}
		});
	});
</script>	
{% endblock %}
