{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>
	{% if entity.clienteProveedor == 1  %}
		Editar Cliente "{{ entity.razonSocial }}"
	{% else  %}
		Editar Proveedor "{{ entity.razonSocial }}"
	{% endif %}
    <a id="volver" class="btn btn-default" href="{{ app.request.headers.get('referer') }}">
        Volver
    </a>
	</h1>

    <div class="joyas-container">
		<div class="container">
		{{ form_start(edit_form, {attr: {novalidate: 'novalidate'}}) }}
		    <div style="display:none;">
				<label>Cliento o Proveedor</label>
				{{ form_widget(edit_form.clienteProveedor) }}
			</div>
		 {{ form_end(edit_form) }}
		</div>
	</div>

<script>
	$(document).ready(function (){
        if($('#joyas_joyasbundle_clienteproveedor_clienteProveedor').val()=='1'){
			$("#joyas_joyasbundle_clienteproveedor_denominacion").removeAttr('required');
        }
		$("input").attr('class','form-control');
		$('#clienteproveedor').val($("#joyas_joyasbundle_clienteproveedor_clienteProveedor").val());
        $("form div").addClass('col-sm-6');
	});

	$('#joyas_joyasbundle_clienteproveedor_cuit').blur(function(){

		if(validarCuit($('#joyas_joyasbundle_clienteproveedor_cuit').val()) === false){
			alert("CUIT inválido");
			$('#joyas_joyasbundle_clienteproveedor_submit').addClass("hidden");
		}else{
			$('#joyas_joyasbundle_clienteproveedor_submit').removeClass("hidden");
		}

	});

	function validarCuit(cuit) {
		if(cuit.length != 11) {
			return false;
		}

		var acumulado   = 0;
		var digitos     = cuit.split("");
		var digito      = digitos.pop();

		for(var i = 0; i < digitos.length; i++) {
			acumulado += digitos[9 - i] * (2 + (i % 6));
		}

		var verif = 11 - (acumulado % 11);
		if(verif == 11) {
			verif = 0;
		} else if(verif == 10) {
			verif = 9;
		}

		return digito == verif;
	}
</script>
{% endblock %}
{% block stylesheet %}
	<style>
		#joyas_joyasbundle_clienteproveedor_submit{
			margin: 30px 0px;
		}
	</style>
{% endblock %}
