{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Clientes / Proveedores
			<a style="float:right;" class="btn btn-default" href="{{ path('clienteproveedor_new') }}">
				Crear
			</a>
			</h1>
		</div>
	</div>
	<div class="row filtro">
		<form id="searchForm" action="{{ path('clienteproveedor') }}" method="GET">
			<div class="col-md-3">
				<input type="text" value="{{app.request.get('busqueda')}}" class="form-control" name="busqueda" placeholder="Buscar..">
			</div>
			<div class="col-md-4">
				<select name="tipo" class="form-control">
					<option value="">Elegir Tipo</option>
					<option value="1" {{ app.request.get('tipo') == 1 ? 'selected' : '' }}>Cliente</option>
					<option value="2" {{ app.request.get('tipo') == 2 ? 'selected' : '' }}>Proveedor</option>
				</select>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary" style="margin-top:2px" type="submit">
					Buscar
				</button>
			</div>
		</form>
	</div>
	<hr>
	<div class="tablasScroll">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Raz&oacute;n Social</th>
					<th>Mail</th>
					<th>Denominación</th>
					<th>Cliente/Proveedor</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td><a title="Cuenta Corriente" href="{{ path('clienteproveedor_show', { 'id': entity.id }) }}">{{ entity.razonSocial }}</a></td>
					<td>{{ entity.mail }}</td>
					<td>{{ entity.denominacion }}</td>
					<td>{{ (entity.clienteProveedor == 1) ? 'Cliente' : 'Proveedor' }}</td>
					<td>
						<a class="btn btn-primary" title="Cuenta Corriente" data-toggle="tooltip"  href="{{ path('clienteproveedor_cc', { 'id': entity.id }) }}"><i class="fa fa-list"></i></a>
						<a title="Editar" class="btn btn-success" href="{{ path('clienteproveedor_edit', { 'id': entity.id }) }}"><i class="fa fa-pencil"></i></a>
						<a title="Sucursales" class="btn btn-info" href="{{ path('sucursal', { 'id': entity.id }) }}"><i class="fa fa-map-marker"></i></a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-sm-12">
		{{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
	</div>
    <script>
    	$('document').ready(function(){
    		$('td').css('padding', '2px');
    		$('.pagination a').attr('class', 'btn btn-default');
    		$('.pagination li').css('float', 'left');
    		$('.pagination').css('width', '100%');
    	});
    </script>
    <style>
    .active .btn
    {
        background-color: #9E9E9E;
    }
	.pagination ul{
	    list-style: none;
	}
    </style>

{% endblock %}
