{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}

    <h1 style="text-align: center;">
	{% if entity.clienteProveedor == 1  %}
		Cliente "{{ entity.razonSocial }}"
	{% else  %}
		Proveedor "{{ entity.razonSocial }}"
	{% endif %}
        <a title="Cuenta Corriente" data-toggle="tooltip" href="{{ path('clienteproveedor_cc', { 'id': entity.id }) }}"><i class="fa fa-list"></i></a>
        <a class="btn btn-default" style="float: right;margin-right: 1em;" href="{{ path('clienteproveedor') }}">Volver</a>
    </h1>
    <div  class="col-md-8 col-md-offset-2">
        <table class="table">
            <tbody>
                <tr>
                    <th>ID SISTEMA ANTERIOR</th>
                    <td>{{ entity.idanterior }}</td>
                </tr>
                <tr>
                    <th>Raz&oacute;n Social</th>
                    <td>{{ entity.razonSocial }}</td>
                </tr>
                <tr>
                    <th>CUIT</th>
                    <td>{{ entity.cuit }}</td>
                </tr>
                <tr>
                    <th>DNI</th>
                    <td>{{ entity.dni }}</td>
                </tr>
                <tr>
                    <th>DENOMINACION</th>
                    <td>{{ entity.denominacion }}</td>
                </tr>
                <tr>
                    <th>Direcci&oacute;n</th>
                    <td>
                        {{ entity.domiciliocomercial }}
                        {{entity.localidad !=''  ? ' - '~entity.localidad : ''}}{{entity.provincia !='' ? ', '~entity.provincia : ''}}
                        {{entity.codigopostal !=''  ? '- CP: '~entity.codigopostal : ''}}
                    </td>
                </tr>
                <tr>
                    <th>Tel&eacute;fono</th>
                    <td>{{ entity.telefono }}</td>
                </tr>
                <tr>
                    <th>Celular</th>
                    <td>{{ entity.celular }}</td>
                </tr>
                <tr>
                    <th>Fax</th>
                    <td>{{ entity.fax }}</td>
                </tr>
                <tr>
                    <th>Condici&oacute;n IVA</th>
                    <td>{{ entity.condicioniva }}</td>
                </tr>
                <tr>
                    <th>Mail</th>
                    <td>{{ entity.mail }}</td>
                </tr>
                <tr>
                    <th>Porcentaje Ret. IVA</th>
                    <td>{{ entity.porcentajeiva }}</td>
                </tr>
                <tr>
                    <th>Caeficiente Precio</th>
                    <td>{{ entity.coeficientePrecio }}</td>
                </tr>
                <tr>
                    <th>Saldo Inicial</th>
                    <td>$ {{ entity.saldo }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
