{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Edición del Stock al Producto "{{entity.producto.codigo}} - {{entity.producto.descripcion}}"
		<a class="btn btn-default" style="float:right;" href="{{ path('stock', {id: entity.producto.id}) }}">
			Volver
		</a>
	</h1>
	<div class="gestion col-md-6 col-md-offset-3">
		{{ form(edit_form) }}
	</div>

<script>
	$("document").ready(function(){
		$("#gestion_gestionbundle_stock_tipofactura").removeAttr("required");
		$("#gestion_gestionbundle_stock_factura").removeAttr("required");
		$("#gestion_gestionbundle_stock_elemento").addClass("hidden");
	});
</script>
{% endblock %}
