{% extends '::base.html.twig' %}

{% block body -%}
    <h1>
		Stock del Producto "{{entity.producto}}"
		<a class="btn btn-default" style="float:right;" href="{{ path('stock', {id: entity.producto.id}) }}">
			Volver
		</a>
	</h1>
	<div class="gestion">
		<table class="table">
			<tbody>
				<tr>
					<th>Fecha de Alta</th>
					<td>{{ entity.fecha|date('Y-m-d H:i:s') }}</td>
				</tr>
				<tr>
					<th>Stock</th>
					<td>{{ entity.stock }}</td>
				</tr>
				<tr>
					<th>Stock</th>
					<td>{{ entity.costo }}</td>
				</tr>
			</tbody>
		</table>
	</div>

{% endblock %}
