{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block body -%}
    <h1>
		Creación de Medio
		<a href="{{ path('medio') }}">
            Volver
        </a>
	</h1>
	<hr />
    <div class="gestion col-sm-6 col-sm-offset-3">
		{{ form(form) }}
	</div>
{% endblock %}
