{% extends 'JOYASJoyasBundle::base.html.twig' %}
{% block content -%}
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Compras
                <a class="btn btn-primary" href="{{ path('facturaproveedor_new') }}">
    				Registrar Compra
                </a>
			</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<div class="row filtro">
		<form id="searchForm" action="{{ path('facturaproveedor_filtro') }}" method="POST" autocomplete="off">
			<div class="col-md-3">
				<input type="date" value="{{app.request.get('fechaDesde')}}" class="form-control" name="fechaDesde" placeholder="Fecha Desde">
			</div>
			<div class="col-md-3">
				<input type="date" value="{{app.request.get('fechaHasta')}}" class="form-control" name="fechaHasta" placeholder="Fecha Hasta">
			</div>
			<div class="col-md-4">
				<select name="listado" class="form-control">
					<option value="0">Elegir Proveedor</option>
					{% for clienteProveedor in clientesProveedores %}
						<option {{app.request.get('listado') == clienteProveedor.id ? 'selected' : '' }} value="{{ clienteProveedor.id }}">
							{{ clienteProveedor.razonSocial }}
						</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-2">
				<button class="btn btn-primary" style="margin-top:2px" type="submit">
					Buscar
				</button>
			</div>
		</form>
	</div>
	<hr/>
	<div class="tablasScroll">
		<table id="tablaSF" class="display">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Factura</th>
					<th>Proveedor</th>
					<th>Estado</th>
					<th>Importe</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
			{% for entity in entities %}
				<tr>
					<td>{{ entity.fecha|date('Y-m-d') }}</td>
					<td>
						<a href="{{ path('facturaproveedor_show', { 'id': entity.id, 'tipo':'FP'}) }}">Factura {{entity.tipofactura }} - Nro: {{ entity.nrofactura|default(entity.id) }}</a> - Pto. Vta.: {{ entity.ptovta }}
                    </td>
					<td>
						<a title="Ir a la Cuenta Corriente" data-toggle="tooltip" data-placement="left" href="{{ path('clienteproveedor_cc', { 'id': entity.clienteproveedor.id }) }}">
							{{ entity.clienteproveedor|default("") }}
						</a>
					</td>
					<td>
						{{ entity.productosFactura|length == 0 ? '<span class="alert-warning">PARCIAL</span>' : '<span class="alert-success">COMPLETA</span>' }}
					</td>
					<td>
    					$ {{ entity.importe }}
					</td>
					<td>
						{% if entity.productosFactura|length == 0 %}
						<a href="{{ path('facturaproveedor_edit', {id: entity.id}) }}" class="btn btn-warning">Completar<a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-sm-12">
		{{ pagerfanta (entities, 'twitter_bootstrap_translated' , { 'prev_message' : 'Anterior', 'next_message': 'Siguiente'} ) }}
	</div>
<script>
	$('document').ready(function(){
	});
</script>
<style>
.active .btn
{
    background-color: #9E9E9E;
}
ul
{
	list-style: none;
}
</style>

{% endblock %}
