{% extends 'JOYASJoyasBundle::base.html.twig' %}

{% block content -%}
    <h1>
		Creaci&oacute;n de Categor&iacute;a
		<a class="btn btn-default" href="{{ path('categoria') }}">
			Volver
		</a>
	</h1>
	<hr />
    <div class="gestion col-sm-6 col-sm-offset-3">
		{{ form(form) }}
	</div>
{% endblock %}
